.labNavHome-dashboard {
    background-color: #e6f7ff;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .labNavHome-date-range {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .labNavHome-date-range span {
    margin: 0 10px;
  }
  
  .labNavHome-ok-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .labNavHome-stats-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .labNavHome-stat-box {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    width: 23%;
  }
  
  .labNavHome-stat-box h3 {
    margin-top: 0;
  }
  
  .labNavHome-stat-box p {
    margin: 5px 0;
  }
  
  .labNavHome-charts-container {
    display: flex;
    justify-content: space-between;
  }
  
  .labNavHome-chart {
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    width: 48%;
  }
  
  .labNavHome-chart h3 {
    margin-top: 0;
  }
  
  .labNavHome-abnormal-test-result select {
    width: 100%;
    padding: 5px;
  }
  
  .labNavHome-stat-box-dengue { border: 1px solid gray; }
  .labNavHome-stat-box-covid { border: 1px solid gray; }
  .labNavHome-stat-box-test-requests-today { border: 1px solid gray; }
  .labNavHome-stat-box-test-requests-till-date { border: 1px solid gray;}

  .labNavHome-test-dashboard {
    display: flex;
    justify-content: space-between;
    background-color: #e6f7ff;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .labNavHome-dashboard-item {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .labNavHome-dashboard-item h2 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 18px;
    color: #333;
  }
  
  .labNavHome-no-data {
    display: flex;
    align-items: center;
    color: #666;
    font-size: 14px;
  }
  
  .labNavHome-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .labNavHome-orange {
    background-color: orange;
  }
  
  .labNavHome-green {
    background-color: green;
  }
  
  .labNavHome-test-completed {
    text-align: center;
  }
  
  .labNavHome-test-count {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .labNavHome-count {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .labNavHome-label {
    font-size: 14px;
    color: #666;
  }