.anesthesia-record-container {
  padding: 20px;
}

.add-record-btnathensia {
  color: white;
  background-color: var(--button-color);
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.add-record-btnathensia:hover{
  background-color:var(--button-hover-background-color);
  color: var(--button-hover-text-color);
  border: 1px solid var(--button-hover-border-color);
}


.anestesiaredmgnt-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.anesthesia-record-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 900px;
  
}
.athensiarecordmodalform{
  display: flex;
  padding:10px;
}
.athensiarecordmodalform label{
  width: 200px;
  font-size: 16px;
}

.athensiarecordmodalform input{
  width: 400px;
  padding: 5px;
  border-radius: 5px;
}

.athensiarecordmodalform-save-btn, .athensiarecordmodalform-cancel-btn {
  margin: 10px 5px;
  padding: 5px;
  border: none;
  cursor: pointer;
}

.athensiarecordmodalform-save-btn {
  color: white;
  background-color: var(--button-color);
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}


.athensiarecordmodalform-cancel-btn {
  color: white;
  background-color: var(--button-color);
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 16px;
  border: none;
  border-radius: 5px;}

  .athensiarecordmodalform-cancel-btn:hover,.athensiarecordmodalform-save-btn:hover{
    background-color:var(--button-hover-background-color);
    color: var(--button-hover-text-color);
    border: 1px solid var(--button-hover-border-color);
  }
