.SUPermission-table {
    width: 100%;
    border-collapse: collapse;
}

.SUPermission-table thead th {
    position: sticky;
    top: 0;
    z-index: 1;
    white-space: nowrap;
    max-width: auto !important;
    font-size: var(--heading-font);

}

.superUserNav-heading {
    border: 1px solid gray;
    padding: 3px;
    white-space: nowrap;
    width: auto !important;
    text-align: center;
    /* height: 30px; */

    /* text-overflow: ellipsis; */
}

.superUserNav-tabledata {
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
    padding: 2px;
    max-width: 50px;
    border: 1px solid #ddd;
    /* width: auto; */
}

.tooltip {
    visibility: hidden;
    background-color: var(--Bg-color);
    /* color: #000; */
    text-align: center;
    border-radius: 5px;
    /* padding: 5px; */
    position: fixed;
    /* Use fixed positioning */
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s;
    text-overflow: clip;
    visibility: visible;
}

.superUserNav-tabledata:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.tooltiptext {
    white-space: nowrap;
}

.superUserNav-head {
    background-color: var(--Bg-color);
    /* color: gray; */
    /* font-weight: 100; */
    text-align: center;
    font-size: var(--heading-font);
    border: 1px solid gray;
    max-width: 300px;
}



.superUserNav {
    /* color: gray; */
    height: 30px;
}

.superUserNav:hover {
    background-color: #f2f2f2;
}

html::-webkit-scrollbar {
    display: none;
}


/* Overall container */
.superUserNav-AppsTL {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    padding: 10px;
}

/* Selection container */
.superUserNav-containerTL {
    display: flex;
    /* justify-content: space-around; */
    width: 41%;
    flex-direction: column;
    margin-bottom: 20px;
}

.superUserNav-tableTL {
    width: 100%;
}

/* Dropdown container */
.superUserNav-custom-dropdownTL {
    position: relative;
    width: 100%;
    /* Prachi TeamLeader 1/7 */
    margin-right: 20px;
}

.superUserNav-dropdown-headerTL {
    background-color: white;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border: 1px solid gray;
    border-radius: 15px;
    font-size: var(--heading-font);
}

.superUserNav-assignOptionBtnCss {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* margin-left: 13%;
      margin-right: 13%; */
}

.superUserNav-dropdown-bodyTL {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 100;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.superUserNav-search-inputTL {
    width: calc(100% - 20px);
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #ccc;
}

.superUserNav-select-all-buttonTL {
    background-color: var(--button-color);
    color: white;
    border: 1px solid gray;
    border-radius: 5px;
    padding: 5px 5px;
    font-size: var(--font-size);
    cursor: pointer;
}

.superUserNav-team-leadersTL {
    /* max-height: 200px; */
    overflow-y: auto;
}

.superUserNav-div {
    margin-left: 20px;
}

.superUserNav-div label {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 5px;
}

/* Options section */
.superUserNav-options-section {
    width: 100%;

    margin-top: 20px;
    flex-direction: column;
    margin-top: 30px;
}

.superUserNav-options-listTL {
    display: flex;
    justify-content: space-around;
    /* width: 100%; */
    margin-bottom: 20px;
    flex-direction: column;
    gap: 20px;
}

.superUserNav-options-category {
    display: flex;
    flex-direction: row;
    /* margin-right: 10px; */
    text-align: center;
    border: 1px solid gray;
    border-radius: 5px;
}

.superUserNav-options-category.common-assign {
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 5px;
    /* Prachi TeamLeader 1/7 */
    cursor: pointer;
    background-color: var(--Bg-color);
    /* color: gray; */
    border: 1px solid gray;
    border-radius: 5px;
    text-align: center;
    font-size: var(--heading-font);
    max-height: 70vh;
    overflow-y: auto;
    text-transform: capitalize;

    /* height: 30px;
      */
}

.superUserNav-options-category::-webkit-scrollbar {
    width: 0px;
}

.superUserNav-options-category.important-assign {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    /* color: gray; */
    background-color: var(--Bg-color);
    text-align: center;
    font-size: var(--heading-font);
    max-height: 70vh;
    overflow-y: auto;
    text-transform: capitalize;
}

.superUserNav-options-category.most-important-assign {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    /* color: gray; */
    background-color: var(--Bg-color);
    text-align: center;
    font-size: var(--heading-font);
    max-height: 70vh;
    overflow-y: auto;
    text-transform: capitalize;
}

.superUserNav-category-header {
    background-color: var(--Bg-color);
    color: white;
    text-align: center;
    position: sticky;
    top: -5px;
}

.superUserNav-checkbox-teamleader-assign input[type="checkbox" i] {
    height: 15px;
    width: 15px;
    margin-right: 22px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.superUserNav-radio-teamleader-assign input[type="radio" i] {
    height: 15px;
    width: 15px;
    margin-right: 9px;
}



.superUserNav-option-itemTL {
    margin-bottom: 5px;
    display: flex;
}

.superUserNav-assignoptionbtn {
    display: flex;
    align-items: center;
    background-color: var(--button-color);
    color: white;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: var(--font-size);
    padding: 10px;
    border-radius: 5px;
    height: 30px;
    /* width: 100%; */
    /* margin-top: 10px; */
}

.superUserNav-assignoptionbtn:hover {
    background-color: var(--button-hover-color);
    color: var(--text-hover-color);
}

.superUserNav-hierarchy-sectionTL {
    height: 30px;
    /* color: #ffcb9b; */
}


/* Assignments table */

.superUserNav-all_assignbtn,
.superUserNav-remove_assignbtn {
    background-color: var(--button-color);
    color: white;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: var(--heading-font);
    /* height: 30px; */
    /* width: 100px; */
}

.superUserNav-all_assignbtn:hover {
    background-color: var(--button-hover-color);
    color: var(--text-hover-color);
}


.superUserNav-all_assignbtn-Action {
    background-color: var(--button-color);
    color: white;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid gray;
    font-size: var(--font-size);
    border-radius: 5px;
    height: 30px;
    width: auto;
    /* width: 100%; */
    margin: 2px;
    padding: 0px 12px 0px 0px;
}

.superUserNav-all_assignbtn-Action:hover {
    background-color: var(--button-hover-color);
    color: var(--text-hover-color);
    cursor: pointer;
    border-radius: 5px;
    /* padding: 10px 10px; */
    /* padding-bottom: 10px; */
}


.superUserNav-dropdown-icon {
    display: flex;
    font-size: var(--heading-font);
    color: white;
    flex-direction: column;
    float: right;
    margin-right: 10px;
}

.superUserNav-dropdown-icon_open {
    display: flex;
    font-size: var(--heading-font);
    color: var(--button-color);
    flex-direction: column;
    float: right;
}

.superUserNav-dropdown-icon.open {
    transform: rotate(180deg);
}

.superUserNav-buttons-div {
    display: flex;
    justify-content: end;
    gap: 5px;
    /* padding: 10px; */
}

.superUserNav-ok-button,
.superUserNav-reset-selectTL-button,
.superUserNav-update-assign-column-btn,
.superUserNav-update-assign-column-close-btn {
    font-size: var(--font-size);
    border-radius: 5px;
    /* height: 30px; */
    color: white;
    padding: 5px;
    /* padding-right: 15px; */
    background: var(--button-color);
    border: 1px solid gray;
    cursor: pointer;
    /* margin-bottom: 10px; */
}

.superUserNav-ok-button:hover,
.superUserNav-reset-selectTL-button:hover,
.superUserNav-update-assign-column-btn:hover,
.superUserNav-update-assign-column-close-btn:hover {
    background-color: var(--button-hover-color);
    color: var(--text-hover-color);
    border: #f2f2f2;
    border: 1px solid gray;
}

.superUserNav-category-share-btn {
    font-size: var(--font-size);
    border-radius: 5px;
    /* height: 30px; */
    margin: 5px;
    color: var(--button-color);
    /* padding-left: 15px; */
    padding: 5px;
    background-color: white;
    border: 1px solid gray;
    cursor: pointer;
}

.superUserNav-category-share-btn:hover {
    background-color: var(--button-hover-color);
    color: var(--text-hover-color);
}

.superUserNav-response-msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: gray;
    padding: 10px;
}

.superUserNav-commonAssinedColumnSec,
.superUserNav-mostImportantAssignedColumnSec,
.superUserNav-importantAssignedColumnSec {
    background-color: var(--Bg-color);
    border-radius: 5px;
    padding: 5px;
}

.superUserNav-commonAssignedColumn,
.superUserNav-mostImportantAssignedColumn,
.superUserNav-importantAssignedColumn {
    margin: 10px;
    gap: 2px;
    display: flex;
    flex-direction: column;
}

.superUserNav-assignedColumnRecruiter {
    background-color: var(--Bg-color);
    border-radius: 5px;
    padding: 10px;
    font-size: var(--heading-font);
    text-align: center;
    /* font-weight: bold; */
}