.sSIRetunReturnItemBtn-entry {
  background-color: #d0f0ff;
  padding: 20px;
  width: 90%;
  margin: 20px auto;
  border-radius: 8px;
  /* align-items: left; */
  float: left;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sSIRetunReturnItemBtn-title {
  font-size: 16px;
  margin-bottom: 20px;
  color: #333333;
  font-weight: bold;
}

.sSIRetunReturnItemBtn-form-section {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.sSIRetunReturnItemBtn-form-section label {
  font-size: 14px;
  margin-right: 10px;
  font-weight: bold;
}

.ssi-return-return-input[type="date"],
.ssi-return-return-input[type="text"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
} 

.sSIRetunReturnItemBtn-back-btn {
  margin-left: auto;
  background-color: #5867DD;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sSIRetunReturnItemBtn-table-section {
  margin-top: 20px;
  border: 1px solid #006688;
  border-radius: 5px;
  overflow: hidden;
}

.sSIRetunReturnItemBtn-table-header {
  display: flex;
  justify-content: space-between;
  /* grid-template-columns: 2fr 1fr 1fr 1fr 1fr; */
  background-color: #F5F5F5;
  color: rgb(88, 88, 88);
  padding: 10px  60px;
  font-weight: bold;

}

.sSIRetunReturnItemBtn-table-row {
  display: flex;
justify-content: space-between;
  align-items: center;
  padding: 5px;
  gap: 5px;
  background-color: white;
}

.sSIRetunReturnItemBtn-delete-btn, .sSIRetunReturnItemBtn-add-btn {
  background-color: #6666ff;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.ssi-return-return-input[type="number"][type="number"] {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  text-align: center;
}
.sSIRetunReturnItemBtn-remark{
  display: flex;
  justify-content: right;
  float: right;
}
.sSIRetunReturnItemBtn-remark-section {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  padding: 10px;
}

.sSIRetunReturnItemBtn-remark-section label {
  margin-right: 10px;
}

textarea {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.sSIRetunReturnItemBtn-button-section {
  margin-top: 20px;
  display: flex;
  float: right;
  gap: 10px;
}

.sSIRetunReturnItemBtn-save-btn {
  background-color: #2ecc71;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sSIRetunReturnItemBtn-discard-btn {
  background-color: #e74c3c;
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
