/* Setting.css */
/* // neha-OT-OT-setting-14-9-24 */


.setting-header {
  background-color: white;
  padding:  5px;
  font-size: var(--heading-font);
 }

.setting-header-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.setting-header-nav li {
  cursor: pointer;
  color: black;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: var(--heading-font);
}


.setting-header-nav li {
  text-decoration: none;
}

.active-nav {
  border-bottom: 4px solid var(--button-bg-color);
}


.setting-sub-nav {
  background-color: #f8f9fa;
  padding: 15px 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 5px;
}

.setting-sub-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.setting-sub-nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

.setting-sub-nav ul li a:hover {
  color: #050505;
  text-decoration: none; 
}
