/* neha-Billing-20/09/24 */
/* .billing-navBar{
    width: 100%;
    display: flex;
    justify-content: space-around;
  
   
}
.opd-ipd-billing{
    background-color: white;

}
.billing-navBar li{

    background-color:#00c9c0;
    color: white;
    margin-left: 20px;
    text-decoration: none;
    
} */