  .activeLab-btn{
    background-color: var(--button-color);
    color: white;
    /* height: 25px; */
    font-size:var(--heading-font );
    border: none;
    padding: 5px;
    
  }
  .navigation-bar {
    /* font-family: Arial, sans-serif; */
      background-color: white;
      /* padding: 10px; */
      /* border: 1px solid #007bff; */

    }
    
    .navigation-bar ul {
      list-style-type: none;
      margin: 0;
      padding: 10px 0px 10px 0px;
      display: flex;
      justify-content: space-around;

    }
    
    .navigation-bar li {
      margin: 0 0px;
      
    }
    
    .navigation-bar a {
      color: white;
      background-color: var(--button-color);
      text-decoration: none;
      font-size: var(--heading-font );
      padding: 5px 5px;
      border-radius: 5px;

    }
    
    .navigation-bar a:hover {
      background-color: white;
      color:var(--button-color);
      border: 1px solid gray;

      
    }
    
    .navigation-bar .active {
      background-color: var(--upperBar-bg-color);
      color: white;

    }
    