.imuUpload-page {
    background-color: #CAF2FF;
    padding: 10px 10px 0px 0px;
    font-family: Arial, sans-serif;
  }
  
  .imuUpload-filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .imuUpload-date-range {
    display: flex;
    align-items: center;
    background-color: #EBF7FF;
  }
  
  .imuUpload-date-range span {
    margin: 0 10px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 20px;
  }
  
  .imuUpload-buttons {
    display: flex;
    gap: 10px;
  }
  
  .imuUpload-load-data, .imuUpload-upload-to-imu {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    color: white;
    background-color: #007bff;
  }
  
  
  
  .imuUpload-search-bar {
    position: relative;
    display: flex;
    margin-bottom: 20px;
    width: 10px;
  }
  .imuUpload-search-bar i {
    position: absolute;
    top: 7px;
    left: 150px;
    color: rgb(121, 118, 118);
  }
  .imuUpload-search-bar input {
    flex-grow: 1;
    padding: 8px;
    border: 1px solid black;
    border-radius: 15px;
    height: 10px;
    width: 200px !important;
  }
  
  
  .imuUpload-upload-status {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 10px;
    font-weight: bold;
  }
  
  .imuUpload-upload-status label {
    margin-right: 20px;
  }
  
  .imuUpload-data-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .imuUpload-data-table th, .imuUpload-data-table td {
    border: 1px solid #e6e3e3;
    padding: 8px;
    text-align: left;
  }
  
  .imuUpload-data-table th {
    background-color: #A5ACAC;
    color: #5a5959;
    font-size: 12px;
  }
  
  .imuUpload-pagination {
    text-align: right;
  }
  
  .imuUpload-pagination button {
    background-color: #CAF2FF;
    color: gray;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
  }
  .imuUpload-search-N-upload{
    display: flex;
    justify-content: space-between;
  }
  .imuUpload-checkbx{
    /* width: 20%; */
    font-size: 12px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }