.labNotificationSms-N-imu-btn{
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #cfcdcd;
  height: 37px;
  /* justify-content:space-between; */
}
.labNotificationSms-page {
    background-color: #CAF2FF;
    padding: 1px 1px  1px 10px;
    font-family: Arial, sans-serif;
    height: 500px;

  }
  
  .labNotificationSms-tabs {
    margin-bottom: 20px;
  }
  
  .labNotificationSms-tab {
    padding: 10px 20px;
    border: none;
    background-color: #CAF2FF;
    cursor: pointer;
  }
  
  .labNotificationSms-tab.labNotificationSms-active {
    /* background-color: #007bff; */
    color: black;
    font-weight: bold;
    border-bottom: 3px solid #0056b3;
    padding:  10px 20px;
  }
  
  .labNotificationSms-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0 10px;
    margin-bottom: 20px;
  }
  
  .labNotificationSms-date-filters {
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #EBF7FF;
    color: black;
    font-size: 12px;
    font-weight: bold;
  }
  
  .labNotificationSms-date-picker {
    margin-right: 10px;
    padding: 5px;
  }

  
  .labNotificationSms-show-data-btn {
    height: 30px;
    border-radius: 5px;
    background-color: #26C281;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  
  .labNotificationSms-filter-options, .labNotificationSms-filter-findings {
    font-size: 14px;
    /* font-weight: 500; */
    width: 300px;
    display: flex;
    justify-content: right;
    align-items: center;
  }
  .labNotificationSms-checkbx{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .filter-options label, .labNotificationSms-filter-findings label,.labNotificationSms-filter-findings button {
    margin-left: 10px;
    font-size: 12px;
    font-weight: 100;
  }
  
  .labNotificationSms-data-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .labNotificationSms-data-table th, .labNotificationSms-data-table td {
    border: 1px solid #e6e3e3;
    padding: 8px;
    text-align: left;
  }
  
  .labNotificationSms-data-table th {
    background-color: #A5ACAC;
    color: #5a5959;
    font-size: 10px;
  }
  
  .labNotificationSms-pagination {
    text-align: right;
    
  }
  
  .labNotificationSms-pagination button {
    border: none;
    border-radius: 15px;
    margin-left: 10px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #CAF2FF;
    color: #d8d5d5;
    font-weight: bold;

  }
  
  .labNotificationSms-search-n-filter{
    display: flex;
    justify-content: space-between;
  }
  .labNotificationSms-search-input {
    padding: 5px;
    width: 200px;
    border: 1px solid black;
    border-radius: 15px;
  }
.labNotificationSms-search-bar{
  position: relative;
  margin-bottom: 10px;
  /* padding-left: -10px; */
  /* opacity: 0; */
  /* animation: slideIn 1s forwards 0.8s; */
}
.labNotificationSms-search-bar i{
  position: absolute;
  top: 8px;
  left: 180px;
  /* display: flex;
  justify-content: ; */
  color: gray;
}
.labNotificationSms-content{
  margin-top: 15px;
}