/* .sms-N-imu-btn {
  display: flex;
  gap: 10px;
  border-bottom: 1px solid #cfcdcd;
  height: 37px;
}
.sms-page {
  background-color: #caf2ff;
  padding: 1px 1px 1px 10px;
  font-family: Arial, sans-serif;
}

.tabs {
  margin-bottom: 20px;
}

.tab {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.tab.active {
  color: black;
  font-weight: bold;
}

.filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px 0 10px;
  margin-bottom: 20px;
}

.date-filters {
  display: flex;
  align-items: center;
  gap: 15px;
}

.date-picker {
  margin-right: 10px;
  padding: 5px;
}

.navNote-show-data-btn {
  height: 30px;
  border-radius: 5px;
  background-color: #26c281;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.filter-options,
.navNote-filter-findings {
  font-size: 14px;
  width: 300px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.navNote-checkbx {
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-options label,
.navNote-filter-findings label,
.navNote-filter-findings button {
  margin-left: 10px;
  font-size: 12px;
  font-weight: 100;
}

.navNote-data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.navNote-data-table th,
.navNote-data-table td {
  border: 1px solid #e6e3e3;
  padding: 8px;
  text-align: left;
}

.navNote-data-table th {
  background-color: #a5acac;
  color: #5a5959;
  font-size: 12px;
}

.navNote-pagination {
  text-align: right;
}

.navNote-pagination button {
  border: 1px solid gray;
  border-radius: 15px;
  margin-left: 10px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: #0056b3;
  color: white;
}

.nav-note-search-n-filter {
  display: flex;
  justify-content: space-between;
}
.navNot-search-input {
  padding: 5px;
  width: 200px;
  border: 1px solid black;
  border-radius: 15px;
}
.navNot-search-bar {
  position: relative;
  margin-bottom: 10px;
}
.navNot-search-bar i {
  position: absolute;
  top: 8px;
  left: 180px;

  color: gray;
}
.navNote-sms-content {
  margin-top: 15px;
} */
