/* body {
  background-color: #e6f7ff;
  margin: 0;
  } */
  
  .labReportDispatch {
    padding: 10px;
    font-family: Arial, sans-serif;
    /* max-width: 1200px; */
    margin: 0 auto;
    background-color: #CAF2FF;
    height: 450px;
  }
  
  .labReportDispatch h5 {
    color: #525151;
    margin-bottom: 10px;
    margin-top: 10px;
    }
  
  .labReportDispatch-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
  }
  .labReportDispatch-Request{
    font-size: 12px;
  }
  .labReportDispatch-date-range {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #EBF7FF;
    margin-right: 350px;
    /* margin-left: 10px; */
  }

  .labReportDispatch-date-range label{
    font-size: 12px;
    font-weight: bold;
  }
  
  .labReportDispatch-date-range input[type="date"] {
    padding: 5px;
  }
  
  .labReportDispatch-star-btn{
    border: none;
    background-color: #EBF7FF;
    color: #2D68EA;
    font-size: 24px;
    align-items: center;
  }
   .labReportDispatch-more-btn {
    background-color: #B9B9CA;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
  }
  .labReportDispatch-category-select label{
    font-size: 12px;
    margin-right: 10px;
  }
  .labReportDispatch-category-select select {
    padding: 5px;
    width: 200px;
  }
  
  .labReportDispatch-load-btn {
    background-color: #26C281;
    margin-right: 10px;
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 11px;
  }
  
  .labReportDispatch-search-bar {
    display: flex;
    margin-bottom: 10px;
  }
  
  .labReportDispatch-search-bar input {
    /* flex-grow: 1; */
    width: 280px;
    padding: 5px;
    border: 1px solid #ccc;
    border-right: none;
    font-size: 12px;
    /* color: red; */
  }
.labReportDispatch-search-bar i{
  position: relative;
  color:gray;
  top: 5px;
 left: 285px;
}
  
  .labReportDispatch-search-btn {
    background-color: white;
    border: 1px solid #ccc;
    padding: 8px 15px;
    cursor: pointer;
  }
  
  .labReportDispatch-patient-table {
    color: #3b3b3b;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    border-collapse: collapse;
  }
  
  .labReportDispatch-patient-table th, .labReportDispatch-patient-table td {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
  }
  
  .labReportDispatch-patient-table th {
    background-color: #f2f2f2;
  }
  
  .labReportDispatch-pagination {
    margin-top: 20px;
    text-align: right;
    font-size: 12px;
    font-weight: bold;
  }
  
  .labReportDispatch-pagination button {
    padding: 5px 10px;
    margin-left: 5px;
    background-color: #CAF2FF;
    color: #d8d5d5;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }