.nav-Setting-navbar {
    background-color: #e0f7fa;
    /* padding: 10px; */
    border-bottom: 1px  solid gray;
    font-family: Arial, Helvetica, sans-serif;

  }
  
  .nav-Setting-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-around;

  }
  
  .nav-Setting-navbar li {
    margin: 0 0px;
    
  }
  
  .nav-Setting-navbar a {
    color: black;
    text-decoration: none;
    /* font-weight: bold; */
    padding: 10px 15px;
    border-radius: 5px;

  }
  
  /* .nav-Setting-navbar a:hover {
    background-color: #0056b3;
    color: white;
    border: 1px solid gray;

    
  } */
  
  .nav-Setting-navbar .active {
    /* background-color: #0056b3; */
    font-weight: bold;
    /* color: white; */

  }
  