

   .pendingReports-work-list {
     background-color: #CAF2FF;
     padding: 10px;
     height: 500px;
     font-family: Arial, sans-serif;
     
    }
    .pendingReports-work-list h4 {
      margin-top: 8px;
      color: #414040;
      font-size: 14px;
    }
  .pendingReports-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pendingReports-date-range{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    background-color: #EBF7FF;
font-weight: bold;
  }
  
  .pendingReports-category-select {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .pendingReports-category-select label{
font-size: 12px;
font-weight: bold;
color: #333232;
  }
  
  .pendingReports-load-button {
    background-color: #26C281;
    color: white;
    border: none;
    height: 25px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 290px;

  }
  .pendingReports-load-button:hover{
    background-color: #2D68EA;
  
  }
  .pendingReports-search-bar{
    margin-left: -15px;
  }
  .pendingReports-search-bar input {
    width: 200px;
    padding: 10px;
    /* margin-bottom: 20px; */
    border-radius: 5px;
    height: 10px;
  }
  
  .pendingReports-work-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color: white;
  }
  
  .pendingReports-work-table th, .pendingReports-work-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .pendingReports-work-table th {
    background-color: #F3F3F3;
    color: #4b4949;
    font-size: 12px;
  }
  
 

.pendingReports-worklist a{
  color: #026688;
  font-size: 12px;
  font-weight: bold;
}
.pendingReports-searchbar-N-showing{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

}
.pendingReports-results-info {
  display: flex;
  align-items: center;
  /* padding-top: 10px; */
}
.pendingReports-results-info span {
  /* display: flex;
  align-items: center; */
  /* padding-top: 10px; */
  color: #008CBA;
  font-size: 12px;
  font-weight: bold;
}
.pendingReports-print-button {
  background-color: #659BE0;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
  cursor: pointer;
  margin-left: 10px;
  font-size: 12px;
}
.pendingReports-search-bar i{
  position: relative;
  color:gray;
  top: 3px;
left: 205px;
}

.pendingReports-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pendingReports-pagination button {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 5px;
}

.pendingReports-pagination span {
  margin: 0 10px;
  color: gray;
  font-size: 12px;
}

.pendingReports-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: top;
  z-index: 1000;
  margin-top: 10px;
}

.pendingReports-popup-content {
  background-color: white;
  /* padding: 20px; */
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  max-width: 90%;
  max-height: 60%;
  width: 1100px;
  overflow: auto;
}