/* Akash Pawar Radiology 14/24 */
.rDLListReport-active-imaging-request {
  padding: 10px;
}
  
 .rDLListReport-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .rDLListReport-header h4 {
    color: black;
    font-size: var(--heading-font);
    margin: 0;
  }
  
  /* .rDLListRequest-filter  {
  } */
  .rDLListReport-filter select {
    padding: 3px 5px 3px 5px;
    background-color: #f0f0f0;
    margin-left: 10px;
    width: 100px;
  }
  .rDLListReport-filter label {
font-size: 14px;
font-weight: bold;
}
  
  .rDLListReport-controls {
    padding: 10px;
    margin-bottom: 5px;
  }
  
  .rDLListReport-date-range {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
  }
  .rDLListReport-date-range label{
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .rDLListReport-date-range input[type="date"] {
    padding: 5px;
  }
  
  .rDLListReport-star-button {
    background: none;
    border: none;
    font-size: 1.2em;
    color: #0011ff;
    cursor: pointer;
  }
  
  .rDLListReport-ok-button {
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
  }
  
    .rDLListReport-search-N-results{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.rDLListReport-search-bar{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  padding: 5px;
}
.rDLListReport-search-bar i{
  color: gray;
}
  
  .rDLListReport-search-bar input {
    background-color: transparent;
    border: none;
    outline: none;
  }
  
  .rDLListReport-search-button {
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-left: 5px; /* Adds some spacing between the input and the button */
    border-radius: 4px; /* Optional: rounds the corners of the button */
    font-size: 14px; /* Adjusts the font size for consistency */
  }
  
  .rDLListReport-search-button:hover {
    background-color: #e0e0e0; /* Changes the background color on hover */
  }
  
  .rDLListReport-results-info {
    text-align: right;
    color: rgb(88, 87, 87);
    font-size: 12px;
    font-weight: bold;
  }
  
  .rDLListReport-results-info {
    text-align: right;
    color: rgb(88, 87, 87);
    font-size: 12px;
    font-weight: bold;
    margin-top: 5px;
}
  .action-button {
    padding: 5px 10px;
    color: white;
    border: none;
    cursor: pointer;

    border-radius: 13px;
  }

  .pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  /* .rDLListReport-search-N-results{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.rDLListReport-search-bar{
  display: flex;
  align-items: center;
  justify-content: center;
} */
  .rDLListReport-ex-pri-buttons{
    background-color: var(--button-color);
    color: white;
    margin: 5px;
    border: none;
    font-size: var(--font-size);
    padding: 5px;
    border-radius: 5px;
  }
  .rDLListReport-action-button-add-reports{
    background-color: var(--button-color);
    color: white;
    border-radius: 5px;
    padding: 5px;
    border: none;
  }
  .rDLListReport-ex-pri-buttons:hover,.rDLListReport-action-button-add-reports:hover{
    color: var(--button-hover-text-color);
    background-color: var(--button-hover-background-color);
    border: 1px solid var(--button-hover-border-color);
  }