/* Table and other styles */
.FilmTypeList
{
    padding: 5px;
}
.FilmTypeList__table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  .FilmTypeList__title
  {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
  }
  
  .FilmTypeList__table th,
  .FilmTypeList__table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .FilmTypeList__button {
    padding: 5px 10px;
    background-color: var(--button-color);
    color: white;
    border-radius: 5px;
    border: 1px solid var(--button-color);
    cursor: pointer;
    font-size: 16px;
  }
  
  .FilmTypeList__button:hover {
    color: var(--button-color);
    background-color: var(--button-hover-color);
    border: 1px solid var(--button-color);
  }
  
  /* Modal styles */
  .FilmTypeList__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .FilmTypeList__modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    position: relative;
  }
  
  .FilmTypeList__close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .FilmTypeList__modal-field {
    margin-bottom: 10px;
  }
  
  .FilmTypeList__modal-field label {
    display: block;
    margin-bottom: 5px;
  }
  
  .FilmTypeList__modal-field input[type="text"],
  .FilmTypeList__modal-field input[type="date"],
  .FilmTypeList__modal-field input[type="time"],
  .FilmTypeList__modal-field select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .FilmTypeList__modal-submit {
    padding: 5px 10px;
    background-color: var(--button-color);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
  .FilmTypeList__modal-submit:hover {
    color: var(--button-color);
    background-color: var(--button-hover-color);
    border: 1px solid var(--button-color);
  }
  