/* Akash Pawar Radiology 14/24 */
.relEditDoctors-active-imaging-request {
    padding: 10px;
  }
  
  .relEditDoctors-active-imaging-request header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 20px; */
  }
  
  .relEditDoctors-active-imaging-request h4 {
    color: black;
    font-size: var(--heading-font);
    margin: 0;
  }
  

  .relEditDoctors-filter select {
    padding: 3px 5px 3px 5px;
    background-color: #f0f0f0;
    margin-left: 10px;
    width: 100px;
  }
  .relEditDoctors-filter label {
font-size: 14px;
font-weight: bold;
}
  
  .relEditDoctors-controls {
    padding: 10px;
    margin-bottom: 5px;
  }
  
  .relEditDoctors-date-range {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
  }
  .relEditDoctors-date-range label{
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .relEditDoctors-date-range input[type="date"] {
    padding: 5px;
  }
  
  .relEditDoctors-star-button {
    background: none;
    border: none;
    font-size: 1.2em;
    color: #0011ff;
    cursor: pointer;
  }
  
  .relEditDoctors-ok-button {
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
  }
  
  .relEditDoctors-ok-button:hover {
    background-color: var(--button-hover-background-color);
    color: var(--button-hover-text-color);
     border: 1px solid var(--button-hover-border-color);
  }
  
  .relEditDoctors-search-bar {
    display: flex;
    background-color: #f2f2f2;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-bottom: 10px;
  }
  
  .relEditDoctors-search-bar input {
   outline: none;
   border: none;
   background-color: transparent;
  }
  .relEditDoctors-search-bar i{
    color: gray;
  }
  
  .relEditDoctors-results-info {
    text-align: right;
    color: black;
    font-size: var(--font-size);
    font-weight: bold;
  }
  .relEditDoctors-search-N-results{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

  .relEditDoctors-ex-pri-buttons{
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 5px ;
    padding: 5px 10px;
    margin-left: 10px;
  }
  .relEditDoctors-action-button-add-report{
    background-color: var(--button-color);
    color: white;
    border: none;
    border-radius: 5px;
    /* padding: 6px; */
    padding: 5px;
    cursor: pointer;
  }
  .relEditDoctors-ex-pri-buttons:hover,.relEditDoctors-action-button-add-report:hover{
    color: var(--button-hover-text-color);
    background-color: var(--button-hover-background-color);
    border: 1px solid var(--button-hover-border-color);
  }


  
  

  