


.relEditDoctors-active-imaging-request {
    font-family: Arial, sans-serif;
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    padding: 10px;
    background-color: #cee6ff;
  }
  
  .relEditDoctors-active-imaging-request header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 20px; */
  }
  
  .relEditDoctors-active-imaging-request h4 {
    color: #3f8fdf;
    margin: 0;
  }
  

  .relEditDoctors-filter select {
    padding: 3px 5px 3px 5px;
    background-color: #f0f0f0;
    margin-left: 10px;
    width: 100px;
  }
  .relEditDoctors-filter label {
font-size: 14px;
font-weight: bold;
}
  
  .relEditDoctors-controls {
    padding: 10px;
    margin-bottom: 5px;
  }
  
  .relEditDoctors-date-range {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f0f0f0;
    margin-bottom: 10px;
  }
  .relEditDoctors-date-range label{
    margin-left: 20px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .relEditDoctors-date-range input[type="date"] {
    padding: 5px;
  }
  
  .relEditDoctors-star-button {
    background: none;
    border: none;
    font-size: 1.2em;
    color: #0011ff;
    cursor: pointer;
  }
  
  .relEditDoctors-ok-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
  }
  
  .relEditDoctors-search-bar {
    display: flex;
  }
  
  .relEditDoctors-search-bar input {
    flex-grow: 1;
    padding: 5px;
    width: 210px;

  }
  .relEditDoctors-search-bar i{
    position: relative;
    color:gray;
    top: 7px;
  left: 175px;
  }
  
  .relEditDoctors-results-info {
    text-align: right;
    color: #0011ff;
    font-size: 12px;
    font-weight: bold;
  }
  
  .relEditDoctors-table-N-paginat table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }
  
  .relEditDoctors-table-N-paginat th, .relEditDoctors-table-N-paginat td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 13px;
    color: #464545;
  }
  
  .relEditDoctors-table-N-paginat th {
    background-color: #f2f2f2;
  }
  
  .relEditDoctors-table-N-paginat tr:nth-child(even) {
    background-color: #f9f9f9;
  }
   
  
  .relEditDoctors-pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  .relEditDoctors-search-N-results{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.relEditDoctors-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }
  
  .relEditDoctors-pagination button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
  }
  
  .relEditDoctors-pagination span {
    margin: 0 10px;
    color: gray;
    font-size: 12px;
  }
  .relEditDoctors-table-N-paginat{
    background-color: white ;
  }


  .relEditDoctors-ex-pri-buttons{
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 5px ;
    padding: 5px 10px;
    margin-left: 10px;
  }
  .relEditDoctors-action-button-add-report{
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 13px;
    /* padding: 6px; */
    padding: 5px 10px;
    cursor: pointer;


  }


  
  

  