/* src/components/ReportList.css */
.dis-report-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    width: auto;
    /* background-color: #e6f7ff; */
    font-family: Arial, Helvetica, sans-serif;
   
  }
  
  .dis-report-item {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: calc(20.33% - 20px);
    height: 30px;
  }
  
  .dis-report-icon {
    width: 35px;
    height:35px;
    border-radius: 50%;
    background-color: #1890ff;
    margin-right: 10px;
  }
  
  .dis-report-info h3 {
    /* border: 1px solid red; */
    margin: 0;
    font-size: 14px;
    text-decoration: none;
    
  }
  
  .dis-report-info p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #8c8c8c;
  }