.userCollectionReport-report {
    font-family: Arial, sans-serif;
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    padding: 10px;
    height: 460px;
    background-color: #CAF2FF;
  }
  
 .userCollectionReport-report h4 {
    margin-top: 0;
    color: rgb(66, 66, 66);
    font-weight: 200;
  }
  .userCollectionReport-report i {
    color: #0F63AF
  }
  
  .userCollectionReport-filters {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
  .userCollectionReport-filters-second {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .userCollectionReport-date-range{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    font-weight: bold;
    background-color: #EBF7FF;
    margin-left: 30px;
    padding: 2px 30px;
  }
  
  .userCollectionReport-select-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    /* border: 1px solid red; */
    /* width: 300px; */
  }
  .userCollectionReport-select-filters select{
    width: 200px;
  }
  .userCollectionReport-select-filters label{
  margin-right: 30px;
  }
  .userCollectionReport-select-filters input[type="date"], input[type="text"], select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 20px;
  }
  
  .userCollectionReport-star-button {
    background: none;
    border: none;
    font-size: 1.9em;
    color: #0F63AF;
    cursor: pointer;
  }
  
  .userCollectionReport-show-report-button {
    background-color: #5867DD;
    color: white;
    border: none;
    font-size: 12px;
    padding: 8px 15px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 100px;
  }
  
  .userCollectionReport-search-N-result{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
.userCollectionReport-search-bar{
  margin-left: -15px;
}  
  .userCollectionReport-search-bar input {
    /* margin-top: 10px; */
    /* padding: 5px; */
    width: 200px;
    margin: 0;
  }
  .userCollectionReport-search-bar i{
    position: relative;
    color:gray;
    top: 3px;
  left: 205px;
  }
  
  .userCollectionReport-results-info {
    display: flex;
    align-items: center;
    /* padding-top: 10px; */
  }
  .userCollectionReport-results-info span {
    /* display: flex;
    align-items: center; */
    /* padding-top: 10px; */
    color: #659BE0;
    font-weight: bold;
    font-size: 12px;
  }

  
  /* .userCollectionReport-print-button {
    background-color: #659BE0;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  } */
  
  .results-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .userCollectionReport-export-button, .userCollectionReport-print-button {
    background-color: #659BE0;
    color: white;
    border: none;
    font-size: 12px;
    border-radius: 5px;
    padding: 8px 15px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .userCollectionReport-report table {
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }
  
  .userCollectionReport-report th, .userCollectionReport-report td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 12px;
  }
  
  .userCollectionReport-report th {
    background-color: #F3F3F3;
    color: #333333;
  }
  .userCollectionReport-Loading{
    display: flex;
  justify-content: center;
  color: red;
  }
  .userCollectionReport-no-data {
    text-align: center;
    padding: 20px;
    background-color: #FFE6A0;
  }
  
  .userCollectionReport-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
  }
  
  .userCollectionReport-pagination button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
    font-size: 12px;
  }
  
  .userCollectionReport-pagination span {
    margin: 0 10px;
    color: gray;
    font-size: 12px;
  }
 
  .userCollectionReport-table-N-paginationDiv{
    background-color: #FFFFFF;
  }