/* General styling */
.ConsumptionEntry {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  
  .ConsumptionEntry h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  
  
.consumption-entry-medicine-section
{
    width: 100%;
    display: flex;
    justify-content:space-between;
}
  .consumption-entry-details-section
  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .consumption-entry-totals-section
  {
    padding: 5px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .consumption-entry-subdiv
  {
    width: 100%;
    padding: 5px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .consumption-entry-input
  {
    width: 50%;
  }
  
  .consumption-entry-form-section
  {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  



  
  
  
  .consumption-entry-save-button {
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    background-color:var(--button-color);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .consumption-entry-table-section
  {
    width: 100%;
    
  }
  .consumption-entry-input-main
  {
    width: 100%;
  }
  .consumption-entry-save-button-add
  {
    padding: 1px 3px;
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    color: white;
    font-weight: 700;
    border-radius: 2px;
  }
  .consumption-entry-discard-button
  {
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    background-color:red;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .consumption-entry-actions
  {
    width: 100%;
    display: flex;
    gap: 5px;
    justify-content: flex-end;
  }
 
  
  /* Responsive styling */
  @media (max-width: 768px) {
    .ConsumptionEntry .form-section label,
    .ConsumptionEntry .totals-section label {
      width: 100%;
    }
  
    .ConsumptionEntry .totals-section label {
      margin-bottom: 10px;
    }
  
    .ConsumptionEntry .actions {
      text-align: center;
    }
  }
  