.inpatient-component-container {
    display: flex;
    gap: 10px; /* Optional: Adjust spacing between buttons */
}

.inpatient-component-tab {
    background-color: transparent;
    color: black;
    border: none;
    padding: 5px 8px;
    cursor: pointer;
    font-size: 16px;
    position: relative; /* Necessary for the underline effect */
    text-decoration: none; /* Remove default underline */
    transition: color 0.3s, text-decoration-color 0.3s;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 8px;
}

.inpatient-component-tab:hover,
.inpatient-component-tab.active {
    /* text-decoration: underline;  */
    text-decoration-color: #2d68ea; /* Set underline color */
}

.inpatient-component-tab.active {
    color: white; /* Text color for active tab */
    background-color: #2d68ea; /* Background color for active tab */
    border-radius: 5px; /* Optional: adds rounded corners */
}

.EditButton{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 8px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;

}

.EditButton:hover{
    background-color: #45a049;
}
@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        --bs-modal-width: 1200px;
    }
}

.hospital-wards-container {
    padding: 20px;
    background-color: #e0f7fa;
    font-family: Arial, sans-serif;
  }

  
  h2 {
    color: #007acc;
    margin-bottom: 20px;
  }
  
  .ward-info-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
.ward-info-card:hover{
    background-color: #cbe1f0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); 
    
}

  
  .ward-info-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    cursor: pointer;
  }
  
  .ward-info-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .ward-info-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .ward-info-patients {
    font-size: 14px;
    color: #888;
  }
  
  .ward-info-occupancy {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .ward-info-occupied {
    color: #1976d2;
    font-weight: bold;
  }
  
  .ward-info-vacant {
    color: #00acc1;
    font-weight: bold;
  }
  