


/* Prachi */


.nursing-actions-container {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: #f0f8ff; /* Light blue background */
  }
  
  .nursing-actions-container a {
    text-decoration: none; /* Remove underline from links */
  }
  
  .nursing-action-button {
    background-color: #4285f4; /* Blue color */
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
  

  
  .nursing-action-button i{
    font-size: 18px;
  }
  
  .nursing-action-button:hover{
    background-color: #3074d2; /* Darker blue on hover */
  }
  
  .nursing-action-button.selected {
    background-color:  #27ae60; /* Highlight with different color when selected */
  }
  
  .nursing-action-button.selected:hover{
    background-color: #27ae60;/* Darker shade when selected and hovered */
  }
  