/* Nephrology.css */

.Nephrology-tableContainer {
    width: 100%;
    overflow-x: auto;
    padding: 20px;
  background-color: #e6f7ff;
  }

  .Nephrology-Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .Nephrology-searchInput{
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .Nephrology-actions {
    display: flex;
    align-items: center;
  }
  
  .Nephrology-results {
    margin-right: 15px;
    font-size: 14px;
    color: #333;
  }

  
  .Nephrology-patientsTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .Nephrology-patientsTable th, .Nephrology-patientsTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .Nephrology-patientsTable th {
    background-color: #f4f4f4;
  }
  
  .Nephrology-tableRow:hover {
    background-color: #f1f1f1;
  }
  
  .Nephrology-actions {
    display: flex;
    gap: 5px;
  }
  
  .Nephrology-btn {
    padding: 5px 10px;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .Nephrology-consumption {
    background-color: #4CAF50;
  }
  
  .Nephrology-wardRequest {
    background-color: #f44336;
  }
  
  .Nephrology-transfer {
    background-color: #2196F3;
  }
  
  .Nephrology-vitals {
    background-color: #ff9800;
  }

  .Nephrology-pagination-btn {
    /* padding: 10px 20px; */
    border: 1px solid #ddd;
    background-color: #0772bc;
    cursor: pointer;
  }
  
  .Nephrology-pagination-btn:disabled {
    background-color: #0772bc;
    cursor: not-allowed;
  }
  
  .Nephrology-pagination-info {
    margin: 0 15px;
  }
  .Nephrology-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  