/* OpdTriagePage.css */

/* Modal Customization */
.custom-modal .modal-dialog {
  max-width: 90%;
  margin: 1.75rem auto;
}

.triage-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: Arial, sans-serif;
}

/* Header styling */
.triage-container header {
  text-align: center;
  margin-bottom: 20px;
}

.triage-container main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.vitals-list,
.add-new-vitals,
.AllergyComponent,
.chief-complaint,
.allergy-list {
  width: 48%;
  margin-bottom: 20px;
}

.vitals-list table,
.allergy-list table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.vitals-list th,
.allergy-list th,
.vitals-list td,
.allergy-list td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  vertical-align: middle;
}

.vitals-list th,
.allergy-list th {
  background-color: #f2f2f2;
  font-weight: bold;
}

/* Form styling */
.add-new-vitals input,
.AllergyComponent input,
.AllergyComponent select,
.AllergyComponent textarea,
.chief-complaint textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.blood-pressure {
  display: flex;
  justify-content: space-between;
}

.blood-pressure input {
  width: 48%;
}

/* Button styling */
.triage-container button {
  background-color: var(--button-color);
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.triage-container button:hover {
  border: 1px solid var( --button-hover-border-color);
    color: var(--button-hover-text-color);
    background-color: var(--button-hover-background-color);
}

.btnFooter {
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.btnFooter:hover {
  background-color: #45a049;
}


.discard-button {
  background-color: #f44336;
}

.add-triage-button,
.discard-button {
  width: 48%;
  margin: 10px auto;
}

.triage-container footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
/* OpdTriagePage.css */

.vertical-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.vertical-table th,
.vertical-table td {
  /* border: 1px solid #ddd; */
  padding: 8px;
  text-align: left;
  vertical-align: middle;
}

.vertical-table th {
  background-color: #f2f2f2;
  width: 30%; /* Adjust width of the label column */
  font-weight: bold;
}

.vertical-table td {
  width: 70%; /* Adjust width of the data column */
}

.vitals-actions {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.vitals-actions button {
  background-color: var(--button-color);
    color: white;
    border: none;
    padding: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
}

.vitals-actions button:hover {
  border: 1px solid var( --button-hover-border-color);
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-background-color);
}

