 /* Container for navigation */
.navigationBarContainer {
  display: flex;
  flex-direction: column;

}

/* Tab menu styling */
.navigationBarTabMenu {
  display: flex;
  background-color: #eaf4fd;
  padding: 10px;
}

.navigationBarTabButton {
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 5px 5px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
}

.navigationBarActive {
  background-color:var( --button-color);
}


/* Action buttons styling */
.navigationBarActionButtons {
  display: flex;
  /* background-color: #b3e5fc; */
  padding: 5px;
}

.navigationBarActionButton {
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 5px;
  margin: 0 5px;
}

.navigationBarActionButton:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .navigationBarActionButtons {
    flex-direction: column;
  }

  .navigationBarActionButton {
    margin: 5px 0;
  }
}
