   /* Container for the entire page */
.purchaseRequestContainer {
  background-color: #d1ecf7;
  padding: 10px;
}

/* Tab menu styling */
.purchaseRequestTabMenu {
  display: flex;
  background-color: #eaf4fd;
  padding: 10px;
  border-bottom: 2px solid #007bff;
}

.purchaseRequestTabButton {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
}

.purchaseRequestActive {
  background-color: #0056b3;
}

.purchaseRequestTabButton:hover {
  background-color: #0056b3;
}

/* Filter section styling */
.purchaseRequestFilterSection {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e1f5fe;
  padding: 10px;
  border-radius: 4px;
}

.purchaseRequestCheckboxLabel {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.purchaseRequestDatePickerContainer {
  display: flex;
  align-items: center;
}

.purchaseRequestDateInput {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.purchaseRequestOkButton {
  background-color: #28a745;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Status section styling */
.purchaseRequestStatusSection {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  background-color: #b3e5fc;
  padding: 10px;
  border-radius: 4px;
}

.purchaseRequestRadioButtons label {
  margin-right: 20px;
  font-size: 16px;
}

.purchaseRequestDropdownContainer {
  display: flex;
  align-items: center;
}

.purchaseRequestDropdown {
  margin-left: 10px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

/* Table section styling */
.purchaseRequestTableContainer {
  margin-top: 20px;
  background-color: #eaf4fd;
  padding: 10px;
  border-radius: 4px;
}

.purchaseRequestDataTable {
  width: 100%;
  border-collapse: collapse;
}

.purchaseRequestDataTable th, .purchaseRequestDataTable td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.purchaseRequestNoRows {
  text-align: center;
  color: #ff5722;
  padding: 20px;
}

/* Pagination styling */
.purchaseRequestPagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.purchaseRequestPagination button {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border: none;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

.purchaseRequestPagination button:hover {
  background-color: #0056b3;
}

/* Responsive design adjustments */
@media screen and (max-width: 768px) {
  .purchaseRequestTabMenu, .purchaseRequestFilterSection, .purchaseRequestStatusSection {
      flex-direction: column;
  }

  .purchaseRequestDatePickerContainer, .purchaseRequestDropdownContainer {
      margin-top: 10px;
  }

  .purchaseRequestDataTable {
      font-size: 14px;
  }
}
