.bookAppointment-container {
  background-color: #e6f3ff;
  padding: 20px;
}

.bookAppointment-new-patient-btn {
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
}

.bookAppointment-new-patient-btn:hover {
  border: 1px solid var(--button-hover-border-color);
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-background-color);
}

.bookAppointment-search-bar {
  display: flex;
  margin-bottom: 20px;
}

.bookAppointment-search-bar input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
}

.bookAppointment-search-btn {
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

.bookAppointment-results-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.bookAppointment-print-btn {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.bookAppointment-create-appointment-btn {
  background-color: #008CBA;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

/* Add any additional styles as needed */
