.newPatient-list {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.newPatient-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.newPatient-header h3 {
  color: #007bff;
}

.newPatient-new-patient {
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
}

.newPatient-new-patient:hover {
  border: 1px solid var(--button-hover-border-color);
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-background-color);
}

.newPatient-search-bar {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.newPatient-search-bar input {
  padding: 10px;
  width: 48%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.newPatient-action-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.newPatient-footer-buttons {
  display: flex;
  justify-content: right;
}

.newPatient-footer-buttons button {
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.newPatient-footer-buttons button:hover {
  border: 1px solid var(--button-hover-border-color);
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-background-color);
}
