/* styles.css */

.additional-service-container {
    max-width: 1350px;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    background-color: #d4f1f9;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

.additional-service-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.additional-service-title {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 16px;
}

.additional-service-search-box {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.additional-service-search-box input {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    margin-right: 8px;
}

.additional-service-search-box button {
    background-color: #f1f1f1;
    border: none; /* Remove border */
    border-radius: 3px; /* Rounded corners */
    padding: 5px 10px; /* Padding for spacing */
    cursor: pointer; /* Pointer cursor on hover */
    display: flex; /* Aligns the content properly */
    align-items: center; /* Center content vertically */
    justify-content: center; /* Center content horizontally */
    font-size: 16px; /* Adjust font size as needed */
}

.additional-service-search-box button:hover {
    background-color: #e0e0e0; /* Slightly darker background on hover */
}

.additional-service-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.additional-service-table th,
.additional-service-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 14px;
    color: #555;
}

.additional-service-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.additional-service-no-results {
    background-color: #fff3cd;
    padding: 10px;
    text-align: center;
    font-style: italic;
    color: #999;
}

.additional-service-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.additional-service-pagination button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 2px;
    border-radius: 3px;
    cursor: pointer;
}

.additional-service-pagination button:hover {
    background-color: #007bb5;
}

.additional-service-pagination span {
    font-size: 14px;
    color: #555;
}

.additional-service-results-info {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

.additional-service-ta {
    background-color: white;
}
