/* AccountHead.css */

.account-head-container {
    background-color: #e6f3ff;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .account-head-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .account-head-add-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .account-head-search-bar {
    display: flex;
  }
  
  .account-head-search-bar input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  }
  
  .account-head-search-button {
    background-color: white;
    border: 1px solid #ccc;
    border-left: none;
    border-radius: 0 5px 5px 0;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .account-head-results-info {
    display: flex;
    align-items: center;
  }
  
  .account-head-print-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .account-head-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
  }
  
  .account-head-table th, .account-head-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .account-head-table th {
    background-color: #f2f2f2;
  }
  
  .account-head-edit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .account-head-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .account-head-pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .account-head-pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  .account-head-table tbody tr {
    text-align: center;
    background: #fff3cd;
    color: #856404;
  }
  
  .account-head-table tbody tr td {
    padding: 10px; /* Adjust the padding as needed */
    text-align: center; /* Center the text within each cell */
  }
  