/* body {
    font-family: Arial, sans-serif;
    background-color: #e6f3ff;
  }
   */
   .CurrencyTable-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}
  
.CurrencyTable-header {
    display: flex;
    justify-content: space-between;
    background-color: #f2f2f2;
    color: white;
    padding: 10px;
}
  
.CurrencyTable-header span {
    font-size: 12px;
}
  
.CurrencyTable-add-currency {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
}
  
.CurrencyTable-search-bar {
    display: flex;
    margin: 10px 0;
}
  
.CurrencyTable-search-bar input {
    flex-grow: 1;
    padding: 5px;
}
  
.CurrencyTable-search-button {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px 10px;
}
  
.CurrencyTable-results-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}
  
.CurrencyTable-print-button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    padding: 5px 10px;
}
  
.CurrencyTable-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
}
  
.CurrencyTable-th, .CurrencyTable-td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
  
.CurrencyTable-th {
    background-color: #f2f2f2;
}
  
.CurrencyTable-edit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}
  
.CurrencyTable-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
  
.CurrencyTable-pagination button, .CurrencyTable-pagination span {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}
  
.CurrencyTable-Modal-over {
    position: absolute;
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    width: 300px;
    max-width: 80%;
    z-index: 1000;
}
  
.CurrencyTable-Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 999;
}
