.RoutesProcurement-nav {
  background-color: #f8f8f8;
  padding: 10px;
}

.RoutesProcurement-ul {
  list-style-type: none;
  padding: 0;
}

.RoutesProcurement-li {
  display: inline;
  margin-right: 15px;
}

.RoutesProcurement-link {
  text-decoration: none;
  color: #333;
}

.RoutesProcurement-link:hover {
  text-decoration: underline;
}
