.tab-container {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color); /* Background color */
    padding: 10px;
  }
  
  .tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .tab-item {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #005A8F; /* Text color */
    cursor: pointer;
    padding: 10px 15px;
    text-align: center;
    flex: 1;
  }
  
  .tab-item:hover {
    background-color: #CCE7FF; /* Hover background color */
    color: #004E80; /* Hover text color */
  }
  
  .tab-item.active {
    color: #004E80; /* Active tab text color */
    border-bottom: 3px solid #007ACC; /* Active tab bottom border */
  }
  