.form-container-updates {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: left;
  margin-bottom: 20px;
}

.item-form-updates {
  display: flex;
  flex-direction: column;
}

.form-row-updates {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.form-row-updates label {
  width: 30%;
  display: flex;
  align-items: center;
}

.input-field-updates,
.description-field-updates,
.checkbox-updates {
  width: 65%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.description-field-updates {
  resize: vertical;
  height: 80px;
}

.radio-buttons-updates {
  display: flex;
  justify-content: space-around;
  width: 65%;
}

.radio-buttons-updates label {
  margin-right: 10px;
}

.required-updates {
  color: red;
}

.save-button-updates {
  width: 100%;
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
}

.save-button-updates:hover {
  background-color: #218838;
}
