/* Layout.css */
.hrmsLayout {
 display: flex;
 height: 100vh;
overflow-x: scroll;
}

.hrmsLayout::-webkit-scrollbar{
   display:none;
}
.hrmsLayout-center{
   width: 100%;
   background-color: var(--background-color);
   overflow: auto;
}
.hrmsLayoutMainContent {
   flex: 1;
   transition: all 0.3s ease;
   width: 100%;
   overflow: auto;
   background-color: var(--background-color);
}
.hrmsLayoutMainContent::-webkit-scrollbar {
   display: none;
}


/* .hrmsLayoutMainContentClosed {
  margin-left: 4rem;
} */

/* .hrmsLayoutMainContentOpen {
  margin-left: 12rem;
} */


/* .hrmsLayoutMainPadding {
 padding: 1rem;
 height: 80%;
 overflow-y: scroll;
} */
