.custom-sidebar {
  width: 13rem;
  background-color: #5f4fc6;
  height: 100%;
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: white;
  position: relative;
}

.custom-sidebar-links {
  list-style-type: none;
  padding: 0;
   max-height: calc(100vh - 60px); /* Adjust 60px based on the height of your logo container */
  overflow-y: auto;
  font-size: 13px;
  margin-top: 10px;
}

.custom-sidebar-links::-webkit-scrollbar {
display: none;
}


.custom-nav-item {
  padding: 0.5rem;
  cursor: pointer;
}

.custom-nav-item-active {
  background-color: #10558d;
}
.custom-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
}


.custom-toggle-button {
  position: absolute;
  top: 1rem;
  right: -1rem; /* Adjust the right value to position it closer to the sidebar's edge */
  background-color: white;
  border-radius: 50%; /* Make the button circular */
  padding: 0.3rem; /* Slightly increased padding for better clickability */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow for better visibility */
  border: none; /* Removed border for a cleaner look */
  z-index: 100; /* Ensure the toggle button stays on top */
  transition: all 0.3s ease; /* Add smooth transition for hover effects */
}

.custom-toggle-button:hover {
  background-color: #f0f0f0; /* Optional: Change background color on hover */
}

.custom-sidebar-closed {
  width: 4rem;
}

.custom-nav-link-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-nav-link-text {
  margin-left: 10px;
}

.custom-dropdown-icon {
  margin-left: auto;
}

.custom-submenu {
  list-style-type: none;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
   /* background-color: #003f7f */
}

.custom-submenu li {
  padding: 0.25rem 0;
  cursor: pointer;
}
.custom-submenu-active {
 background-color: #003f7f;
 }

.custom-sidebar-closed .custom-nav-link-text,
.custom-sidebar-closed .custom-dropdown-icon {
  display: none;
}

.custom-sidebar-closed .custom-nav-item {
  justify-content: center;
}

.custom-submenu {
  list-style-type: none;
  padding: 10px 0 0 0;
  margin: 0;
}

.custom-submenu li {
  padding: 10px 15px;
  border-bottom: 1px solid grey;
  transition: background-color 0.3s ease;
  font-size: 12px;

}

.custom-submenu li a{
  color: #f2f2f2 ;

}

.custom-submenu li:last-child {
  border-bottom: none;
}

.custom-submenu li:hover {
  background-color: #1890ff;
}



.custom-submenu-active {
  background-color: #e6f7ff;
  border-left: 3px solid #1890ff;
}

.custom-submenu-active a {
  font-weight: normal;
 
}
a{
      text-decoration: none;
}

