.custom-sidebar {
  width: 13rem;
  background-color: var(--upperBar-bg-color);
  padding-top: 1rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: white;
  position: sticky;
  top: 0px;
  z-index: 10;
}

.custom-sidebar-links {
  list-style-type: none;
  padding: 0;
   max-height: calc(100vh - 60px); /* Adjust 60px based on the height of your logo container */
  overflow-y: auto;
  font-size: var(--font-size);
  margin-top: 10px;
}

.custom-sidebar-links::-webkit-scrollbar {
display: none;
}


.custom-nav-item {
  padding: 0.5rem;
  cursor: pointer;
}

.custom-nav-item-active {
  background-color: var(--button-color);
}
.custom-logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.2rem;
}


.custom-toggle-button {
  position: absolute;
  top: 1rem;
  right: -1rem;
  background-color: white;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: none;
  z-index: 100;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-toggle-button:hover {
  background-color: #f0f0f0; /* Optional: Change background color on hover */
}

.custom-sidebar-closed {
  width: 4rem;
}

.custom-nav-link-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.custom-nav-link-text {
  margin-left: 10px;
}

.custom-dropdown-icon {
  margin-left: auto;
}

.custom-submenu {
  list-style-type: none;
  padding-left: 1.5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.custom-submenu li {
  padding: 0.25rem 0;
  cursor: pointer;
}
.custom-submenu-active {
 background-color: var(--button-color);
 }

.custom-sidebar-closed .custom-nav-link-text,
.custom-sidebar-closed .custom-dropdown-icon {
  display: none;
}

.custom-sidebar-closed .custom-nav-item {
  justify-content: center;
}

.custom-submenu {
  list-style-type: none;
  padding: 10px 0 0 0;
  margin: 0;
}

.custom-submenu li {
  padding: 10px 15px;
  border-bottom: 1px solid grey;
  transition: background-color 0.3s ease;
  font-size: var(--font-size);

}

.custom-submenu li a{
  color: #f2f2f2 ;
  text-decoration: none;

}

.custom-submenu li:last-child {
  border-bottom: none;
}

.custom-submenu li:hover{
  background-color: var(--button-hover-background-color);
  color: black;
}
.custom-submenu li:hover a{
  color: var(--font-color);
}



.custom-submenu-active {
  background-color: var(--button-bg-color);
}

.custom-submenu-active a {
  font-weight: normal;
 
}


