 /* neha-OT-OT-Personaltype-14-9-24 */
.ot_personnelType_main {
  background-color:var( --background-color);
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: var(--font-size);

  }
  
  .ot_personnelType_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  .ot_personnelType_tablehead {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #f2f2f2;
  }
  
  .ot_personnelType_tabledata {
    background-color: white;
  }
  
  .ot_personnelType_search_bar input[type="text"] {
    width: 300px;
    padding: 2px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .ot_personnelType_filter_button {
    background-color: white;
    color: gray;
    font-size: 20px;
    padding: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .ot_personnelType_filter_button:hover {
    background-color: #45a049;
  }
  
  .ot_personnelType_pagination {
    margin: 20px 0;
    text-align: center;
  }
  
  .ot_personnelType_pagination button {
    background-color: #ddd;
    color: black;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 4px;
  }
  
  .ot_personnelType_pagination button:hover {
    background-color: #ccc;
  }
  
  .ot_personnelType_edit_button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .ot_personnelType_container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 20px;
  }
  
  .ot_personnelType_input {
    display: flex;
    flex-direction: row;
  }
  
  .ot_personnelType_input label {
    margin-bottom: 5px;
  }
  
  .ot_personnelType_input input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 30px;
  }
  
  .ot_personnelType_checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 20px;
  }

  .ot_personnelType_checkbox input[type="checkbox"]{
    width: 20px;
    height: 20px;

  }
  
  .ot_personnelType_buttons {
    display: flex;
    gap: 10px;
    margin-left: 200px;
  }
  
  .ot_personnelType_save, .ot_personnelType_clear {
    padding:5px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .ot_personnelType_save {
    background-color: var(--button-color);
  }
  
  .ot_personnelType_clear {
    background-color: var(--button-color);
  }
  
  .ot_personnelType_save:hover, .ot_personnelType_clear:hover {
    background-color: var(--button-hover-background-color);
    color: var(--button-hover-text-color);
    border: 1px solid var(--button-hover-border-color);
  }
  