
.hospital-header-container-module{
    background-color:#e0f7fa ;
}

.pharmacy-header-module {
    background-color: white;
    color: #3598dc;
    padding: 0;
    font-size: 16px;
    /* position: static; */
  }
  
  .hospital-nav-list-module {
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
    overflow-x: auto;
    gap: 10px; /* Add 10px space between flex items */
  }
  
  .hospital-nav-item-module {
    color: #3598dc;
    padding: 10px 15px;
    cursor: pointer;
    white-space: nowrap;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .hospital-nav-item-module:hover, 
  .hospital-nav-item-module.active {
    background-color: #3598dc;
    color: white;
  }
  
  /* Sub-navigation Styles */
  .pharmacy-sub-nav-module {
    margin-top: 10px;
    background-color: white;
    padding: 0;
    gap: 10px;
    /* border-radius: 5px; */
  }
  
  .pharmacy-sub-nav-module ul {
    list-style-type: none;
    display: flex;
    padding: 0;
    gap: 10px;
    border-radius: 5px;
    margin: 0;
  }

  
  .pharmacy-sub-nav-module li {
    padding: 10px 15px;
    cursor: pointer;
    color: black;
  }
  
  .pharmacy-sub-nav-module li:hover, 
  .pharmacy-sub-nav-module li.active {
    background-color: #bbdefb;
  }
  
  .pharmacy-sub-nav-module a {
    text-decoration: none;
    color: black;
    font-size: 16px;
    display: block;
    padding-bottom: 5px;
    position: relative;
  }
  
  .pharmacy-sub-nav-module a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: blue;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }
  
  .pharmacy-sub-nav-module a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .hospital-nav-list-module {
      flex-direction: column;
    }
  
    .hospital-nav-item-module {
      padding: 10px;
      font-size: 14px;
    }
  
    .pharmacy-sub-nav-module ul {
      flex-direction: column;
    }
  
    .pharmacy-sub-nav-module li {
      padding: 10px;
      font-size: 16px;
    }
  }
  

  /*  */
  