/* neha-OT-manage-checklist-14-9-24 */
.manage_ot_checklist_main {
  background-color: var(--background-color); 
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-size: 14px;
  gap: 20px;
}
.manage_ot_checklist_input {
  margin-bottom: 10px;
  padding: 20px;
  margin-left: 20px;
  
 
}
.manage_ot_checklist_form{
  padding: 20px;
  margin-bottom: 10px;
}
.manage_ot_checklist_input label {
  font-size: 14px;
  margin-bottom: 10px;
}
.manage_ot_checklist_input input,
.manage_ot_checklist_dropdown select {
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  width: 100%;
  margin-bottom: 10px;
}
.manage_ot_checklist_table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.manage_ot_checklist_tablehead {
  background-color: #ccc; /* Blue background for header */
  color: black;
  font-size: 14px;
  font-weight: bold;
  padding: 5px;
}

.manage_ot_checklist_tabledata {
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
}

.manage_ot_checklist_table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.manage_ot_checklist_table tr:hover {
  background-color: #f1f1f1;
}
.manage_ot_checklist_save, .manage_ot_checklist_clear {
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.manage_ot_checklist_form{
  display: inline-block;
}

.manage_ot_checklist_save {
  background-color: var(--button-color);
  margin-right: 20px;
  margin-bottom: 20px;
}

.manage_ot_checklist_clear {
  background-color: var(--button-color);
}

.manage_ot_checklist_save:hover, .manage_ot_checklist_clear:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
  border: 1px solid var(--button-hover-border-color);
}
.manage_ot_checklist_search_bar input[type="text"] {
  width: 400px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 20px;
}
.manage_ot_checklist_pagination button {
  background-color: #007bff;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 0 5px;
  cursor: pointer;
}

.manage_ot_checklist_edit_button {
  padding:5px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 14px;
}

.manage_ot_checklist_edit_button:hover {
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-text-color);
  border: 1px solid var(--button-hover-border-color);
}
.ot_checklist_checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.ot_checklist_checkbox input {
  width: 20px;
  height: 20px;
}

.ot_checklist_checkbox label {
  font-size: 16px;
}
