/* General Styles */
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
  } */
  
  .admission-home-header {
    background-color: white;
    color: blue;
    padding: 15px;
    display: flex;
    align-items: center;
  }
  
  .admission-home-header .logo a {
    color: blue;
    text-decoration: none;
    font-size: 24px;
    margin-right: 20px;
  }
  
  .admission-home-header .nav-links a {
    color: blue;
    text-decoration: none;
    margin: 0 10px 10px 10px;
    margin-bottom: 20px;
    
  }
  .admission-home-header{

    margin-bottom: 20px;
  }
  
  .admission-home-header .nav-links a:hover {
    text-decoration: underline;
    bottom: 10px; /* Margin to the top of the element when hovered */
    height: 20px;
 

  }
  
  .homepage {
    padding: 20px;
  }
  
  .dashboard-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .dashboard-card {
    flex: 1;
    color: white;
    padding: 17px;
    border-radius: 8px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .card-content {
    display: flex;
    align-items: center;
  }
  
  .card-icon {
    font-size: 48px;
    margin-right: 20px;
  }
  
  .bed-feature-table {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
  }
  
  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .table-header h2 {
    margin: 0;
  }
  
  .table-actions button {
    margin-left: 10px;
    padding: 5px;
  }
  
  /* table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #f4f4f4;
  }
  
  tr:hover {
    background-color: #f1f1f1;
  } */
  