.dispenSalesReturnFromCust-form {
    /* font-family: Arial, sans-serif; */
    /* max-width: 1200px; */
    /* margin: 0 auto; */
    padding: 10px;
    background-color: #CAF2FF;
  }
  
  .dispenSalesReturnFromCust-options{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 10px;
  }
  .dispenSalesReturnFromCust-search-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-bottom: 10px;
    background-color: #E9EAEC;
  }
  
  .dispenSalesReturnFromCust-checkbox-group {
    display: flex;
    align-items: center;
  }
  .dispenSalesReturnFromCust-checkbox-group label{
    font-size: 14px;
  }
  
  .dispenSalesReturnFromCust-checkbox-group input[type="checkbox"] {
      margin-right: 5px;
    }
    
    .dispenSalesReturnFromCust-form-group-two{
        display: flex;
        justify-content: left;
        margin-left: 20px;
    }
    .dispenSalesReturnFromCust-form-group-fs{
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 14px;
        /* margin-left: 10px; */
        padding: 10px 0;
        
    /* flex-direction: column; */
    /* margin-bott  om: 15px; */
  }
  .dispenSalesReturnFromCust-form-group-fs label{
    font-size: 14px;
    /* color: red; */
    padding: 0 10px;
  }
  .dispenSalesReturnFromCust-btn-manual-return {
    background-color: #E31D2D;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    font-size: 14px;

  }
  .dispenSalesReturnFromCust-form h5{
    padding-top: 20px;
    font-size: 16px;
    color: black;
    margin: 0px;
  }
  .dispenSalesReturnFromCust-patient-info{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
  }
  .dispenSalesReturnFromCust-patient-info label {
    margin-right: 20px;
  }
    .dispenSalesReturnFromCust-form-group {
        display: flex;
        align-items: center;
        text-align: center;
        /* margin: 0 10px; */
        
    /* flex-direction: column; */
    /* margin-bottom: 15px; */
  }
  
  .dispenSalesReturnFromCust-form-group label {
    margin-bottom: 5px;
  }
  
  .dispenSalesReturnFromCust-form-group input,
  .dispenSalesReturnFromCust-form-group select,
  .dispenSalesReturnFromCust-form-group textarea {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .dispenSalesReturnFromCust-search-input,
  .date-input {
    position: relative;
  }
  
  .dispenSalesReturnFromCust-search-icon,
  .dispenSalesReturnFromCust-calendar-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #666;
  }
  
  .dispenSalesReturnFromCust-error-messages {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .dispenSalesReturnFromCust-return-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-top: 30px solid #CACACA;
  }
  
  .dispenSalesReturnFromCust-return-table th,
  .dispenSalesReturnFromCust-return-table td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
    color: #6d6c6c;
    font-size: 14px;
    background-color: white;
}

.dispenSalesReturnFromCust-return-table th {
    background-color: #F5F5F5;
  }
  
  .dispenSalesReturnFromCust-btn {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .dispenSalesReturnFromCust-btn-search {
    background-color: #26C281;
    color: white;
    border: none;
    border-radius: 5px;
    height: 29px;
    margin: 10px;
    padding: 0 10px;
    font-size: 14px;
  }
  
  
  
  .dispenSalesReturnFromCust-btn-remove {
    background-color: #E31D2D;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px;
  }
  
  .dispenSalesReturnFromCust-btn-add {
    background-color: #4d79ff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px;
  }
  .dispenSalesReturnFromCust-PRB{
    display: flex;
    justify-content: center;
  }
  .dispenSalesReturnFromCust-btn-print {
    background-color: #E31D2D;
    color: white;
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    font-size: 14px;
  }
  
  .dispenSalesReturnFromCust-remarks {
    margin-top: 20px;
  }
  
  .dispenSalesReturnFromCust-remarks textarea {
    width: 100%;
    height: 100px;
  }
  
  .dispenSalesReturnFromCust-text-right {
    text-align: right;
  }
  .dispenSalesReturnFromCust-form-group-remarks{
    display: flex;
  }
.dispenSalesReturnFromCust-form-group-remarks label{
    font-size: 14px;
}
.dispenSalesReturnFromCust-form-group-remarks textarea{
    margin-left: 100px;
    
}