.dispenSalesSales-sales-container {
  font-family: Arial, sans-serif;
  background-color: #caf2ff;
  padding: 10px;
  height: 450px;
}

<<<<<<< HEAD
.dispenSalesSales-header .dispenSalesSales-tabs {
  display: flex;
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  font-size: 0.8em;
  background-color: #fafafa;
}
.dispenSalesSales-patient-search input {
  width: 250px;
}
=======
/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
=======
>>>>>>> 60f5ccc0b72e54be9cf79d649ce5554f96f7d96e

.dispenSalesSales-tab {
  padding: 10px;
  cursor: pointer;
  /* border-right: 1px solid #ccc; */
}

.dispenSalesSales-tab-active {
  /* background-color: #007bff; */
  border-bottom: 3px solid #007bff;
  color: black;
  font-weight: bold;
}
.dispenSalesSales-invoice-summary {
  background-color: white;
  margin-bottom: 20px;
  width: 93%;
}

.dispenSalesSales-patient-info {
  margin-bottom: 20px;
}
.dispenSalesSales-hospital-info {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: center; */
  background-color: #f3f0f0;
  padding: 10px;
  border-radius: 5px;
}
.dispenSalesSales-hospital-info-subDiv {
  display: flex;
  justify-content: space-between;
  font-size: 0.8em;
  font-weight: bold;
  margin-right: 50px;
}
.dispenSalesSales-hospital-info-subDiv div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  padding-left: 10px;
  /* border: 1px solid red; */
}
.dispenSalesSales-hospital-info select {
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #ccc;
  /* border: 1px solid #e40f0f; */
  /* flex-grow: 1; */
  width: 200px;
}
.dispenSalesSales-hospital-info-subDiv div option {
  width: 10px;
}

<<<<<<< HEAD
.dispenSalesSales-medicine-info {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f8ff;
  padding: 10px;
  border-radius: 5px;
  width: 93%;
  font-size: 0.7em;
  color: gray;
  /* border: 1px solid #0a0707; */
  height: 50px;
}
.dispenSalesSales-Expiry input {
  /* border: 1px solid red; */
  width: 30px;
}
.dispenSalesSales-Batch input {
  width: 30px;
}
.dispenSalesSales-Avl-Qty input {
  width: 40px;
}
.dispenSalesSales-Qty input {
  width: 40px;
}
.dispenSalesSales-QSalePricety input {
  width: 40px;
}
.dispenSalesSales-SubTotal input {
  width: 40px;
}

.dispenSalesSales-patient-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: #f0f8ff; */
  /* padding: 10px; */
  border-radius: 5px;
  font-size: 0.8em;
}
.dispenSalesSales-patient-info label {
  margin-right: 10px;
}

/* .dispenSalesSales-hospital-info div{
  font-weight: bold;
  margin-right: 10px;
  display: flex;
  justify-content: space-between; 
} */

.dispenSalesSales-medicine-info label {
  font-weight: bold;
  margin-right: 10px;
}

.dispenSalesSales-patient-info input,
.dispenSalesSales-hospital-info input,
.dispenSalesSales-medicine-info input,
.dispenSalesSales-medicine-info select {
  padding: 5px;
  border-radius: 3px;
  /* border: 1px solid #ccc; */
  /* border: 1px solid #e40f0f; */
  flex-grow: 1;
}

.dispenSalesSales-add-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.dispenSalesSales-invoice-summary table {
  width: 100%;
  border-collapse: collapse;
}

.dispenSalesSales-invoice-summary th,
.dispenSalesSales-invoice-summary td {
  padding: 10px;
  /* border: 1px solid #ccc; */
  text-align: left;
  background-color: #eeeeee;
  font-size: 12px;
  color: #6b6a6a;
}

.dispenSalesSales-payment-section {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  /* border: 1px solid green; */
  width: 20%;
  font-size: 0.8em;
  color: gray;
}

.dispenSalesSales-payment-actions {
  /* flex-grow: 1; */
  display: flex;
  justify-content: center;
}
.dispenSalesSales-payment-summary {
  flex-grow: 1;
  padding: 10px;
}
.dispenSalesSales-payment-summary div {
  padding: 5px;
}
.dispenSalesSales-payment-summary-subDiv {
  display: flex;
  justify-content: space-between;
}
.dispenSalesSales-payment-summary-subDiv input {
  width: 100px;
  margin-left: 10px;
}

.dispenSalesSales-print-button {
  background-color: #28a745;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.dispenSalesSales-discard-button {
  background-color: #dc3545;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.dispenSalesSales-history-section {
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-start;
  margin-bottom: 20px;
  /* width: 30%; */
  /* border: 1px solid red; */
}

.dispenSalesSales-invoice-history,
.dispenSalesSales-credit-limits {
  margin-right: 15px;
  /* border: 1px solid red; */
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  width: 13%;
  font-size: 0.8em;
}

.dispenSalesSales-invoice-history h4,
.dispenSalesSales-credit-limits h4 {
  margin-bottom: 10px;
  font-weight: bold;
}
.dispenSalesSales-invoice-history div,
.dispenSalesSales-credit-limits div {
  padding: 10px;
}
/* .dispenSalesSales-register-patient{
} */
.dispenSalesSales-register-patient span {
  padding-right: 10px;
  color: #007bff;
}
.dispenSalesSales-medicineInfo-N-paymentSection {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
  /* width: 30px; */
}
.dispenSalesSales-medicineInfo-N-invoiceSummary {
  display: flex;
  flex-direction: column;
}

.salesStockDetails-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 200px; */
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
=======
    margin-bottom: 20px;
    font-size: 0.8em;
  } */

  .dispenSales-counter-selection h4 {
    font-size: 16px;
    margin-top: 20px;
  }
  
  .dispenSales-counter-selection h4 i {
    margin-left: 20px; /* Reduced the gap between h4 and i */
    font-size: 16px;
    color: #3b5998;
  }
  
  .dispenSales-counter-options {
    display: flex;
    margin-left: 20px;
    gap: 20px;
  }
  
  .dispenSales-counter-option {
    margin-top: 30px;
    background-color: #fff;

    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    width: 170px;
    height: 90px;
    cursor: pointer;
    color: red;
    display: flex;
    flex-direction: column;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .dispenSales-counter-Sub-option{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 15px;
  }
  
  /* .dispenSales-counter-option:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  }
   */
  .dispenSales-counter-option i {
    font-size: 36px;
    color: #779be9;
    margin-bottom: 10px;
  }
  
  .dispenSales-counter-option h3 {
    font-size: 16px;
    color: black;
    margin-bottom: 5px;
  }
  
  .dispenSales-counter-option p {
    font-size: 14px;
    color: #888;
    /* padding-bottom: 10px; */
  }
  
  @media (max-width: 768px) {
    .dispenSales-counter-options {
      flex-direction: column;
      align-items: center;
    }
  }
  
>>>>>>> 60f5ccc0b72e54be9cf79d649ce5554f96f7d96e
