
.helpDeskNav-bar {
    background-color: white;
    font-family: Arial, sans-serif;
    padding: 10px;
    /* border: 1px solid #007bff; */

  }
  
  .helpDeskNav-bar ul {
    list-style-type: none;
    margin: 0;
    padding: 10px 0px 10px 0px;
    display: flex;
    gap: 10px;
    justify-content: left;

  }
  
  .helpDeskNav-bar li {
    margin: 0 0px;
    
  }
  
  .helpDeskNav-bar a {
    color: black;
    text-decoration: none;
    /* font-weight: bold; */
    font-size: var(--heading-font);
    padding: 7px 5px;
    border-radius: 5px;

  }
  
  .helpDeskNav-bar a:hover {
    background-color: var(--button-hover-background-color);
    color: var(--button-hover-text-color);
    border: 1px solid var(--button-hover-border-color);

    
  }
  
  .helpDeskNav-bar .active {
    background-color: var(--button-bg-color);
    color: white;

  }
  