.incentiveTransationInvoice-container {
    /* padding: 20px; */
    background-color: #CAF2FF; /* Light blue background */
  }
  
  .filters {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
  }
  .incentiveTransationInvoice-filters {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .incentiveTransationInvoice-date-range {
    background-color: #EBF7FF;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  font-weight: bold;
  padding: 5px 30px;
}
.incentiveTransationInvoice-icon-button {
    background-color: #e0e0e0;
    border: none;
    cursor: pointer;
    font-size: 16px;
  }
  .incentiveTransationInvoice-star{
    color: #0000FF;
  }
  .incentiveTransationInvoice-ok-button {
    background-color: #26C281;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    margin-left: 20px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
  }
  .incentiveTransationInvoice-load-button:hover {
    background-color: #5867DD;
 
}
.incentiveTransationInvoice-search-N-Infotext{
    display: flex;
    justify-content: space-between;
}

  
  .date-range {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .date-range label {
    margin: 0 5px;
    font-size: 14px;
  }
  
  /* .icon-button {
    margin-left: 5px;
    padding: 5px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
  }
  
  .icon-button.ok {
    background-color: #22b573; 
    color: white;
    padding: 5px 10px;
    border-radius: 4px;
  } */
  
  .incentiveTransationInvoice-search-input {
    /* margin-left: auto; */
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 150px;
  }
  
  .incentiveTransationInvoice-info-text {
    font-size: 12px;
    font-weight: bold;
    margin-left: 10px;
    color: #0772BC;
  }
  
  .incentiveTransationInvoice-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    background-color:white;
  }
  
  .incentiveTransationInvoice-table th,
  .incentiveTransationInvoice-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    font-size: 12px;
    color: #3b3b3b;
  }
  
  .incentiveTransationInvoice-table th {
    background-color: #F3F3F3;
    font-weight: bold;
    font-size: 12px;
  }
  
  .incentiveTransationInvoice-edit-button {
    background-color: #FFA500; /* Yellow background for edit button */
    border: none;
    padding: 5px;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
  }
  