/* .lab-test-setting-container {
  background-color: #d2f0fd;
  padding: 20px;
  border-radius: 5px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.add-button {
  background-color: #4c79da;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

.search-filters {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.search-box {
  display: block;
  width: 200px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filters {
  display: flex;
  gap: 10px;
}

.filters label {
  font-weight: bold;
}

.category-filter {
  display: flex;
  align-items: center;
}

.category-filter label {
  margin-right: 5px;
  font-weight: bold;
}

.category-filter select {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.lab-test-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.lab-test-table th, .lab-test-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid #ddd;
}

.lab-test-table th {
  background-color: #f2f2f2;
}

.edit-button, .deactivate-button {
  background-color: #1c6e8c;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 5px;
}

.results-info {
  margin-top: 10px;
  margin-bottom: 15px;
}

.print-button {
  background-color: #4c79da;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
} */
