.payment-setting-details-form .modal-dialog {
    position: fixed;
    top: 10px;
    left: 50%;
    background-color: white;
    transform: translateX(-50%);
    width: 90%;
    max-width: 800px;
    margin: 0;
  }
  
  .payment-setting-details-form .modal-content {
    border-radius: 0;
    border: none;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  }
  
  .payment-setting-header-form {
    background-color: #f8f9fa;
    padding: 15px 20px;
    font-size: 16px;
    border-bottom: 1px solid #dee2e6;
  }
  
  .payment-setting-header-form .modal-title {
    font-size: 16px;
    /* font-weight: bold; */
  }
  
  .payment-setting-close-btn-form {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  
  .payment-setting-form-body {
    padding: 20px;
  }
  
  .payment-setting-form-fields {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
  }
  
  .payment-setting-form-group {
    display: flex;
    align-items: center;
  }
  
  .payment-setting-form-group label {
    margin-right: 10px;
    font-weight: normal;
  }
  
  .payment-setting-form-control {
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
  }
  
  .payment-setting-form-group input[type="checkbox"] {
    margin-right: 5px;
  }
  
  .payment-setting-add-btn-form {
    grid-column: 1 / -1;
    justify-self: end;
    padding: 8px 20px;
    background-color: #28a745;
    border: none;
    color: white;
    /* font-weight: bold; */
  }

 
  .payment-mode-edit{
    background-color:var(--button-color ); /* Primary color */
    color: white; /* Text color */
    border: none; /* Remove default border */
    border-radius: 5px; /* Rounded corners */
    padding: 5px 5px; /* Padding inside the button */
    font-size: 14px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
    border-bottom:  1px solid var(--button-color);
    transition: background-color 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for hover effects */
  }
  .payment-mode-edit:hover{
   color: var(--button-color);
   background-color: white;
   border-bottom:  1px solid var(--button-color);
  }