/* Stock.css */
.stock-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    box-sizing: border-box;
}

.stock-tabs {
    display: flex;
    background-color: #ccf2ff;
  }
  
  .stock-tabs button {
    /* flex: 1; */
    padding: 10px;
    cursor: pointer;
    border: none;
    background: none;
    text-align: center;
    font-size: 16px;
  }
  
  .stock-tabs .active {
    border-bottom: 2px solid #2196F3;
  }
  
  .content {
    width: 100%;
    height: calc(100vh - 50px); /* Adjusted based on tabs height */
    overflow-y: auto;
    padding: 20px;
    background-color: #f9f9f9;
  }
  

/* Responsive Design */
@media (max-width: 768px) {
    .stock-tabs {
        flex-direction: column;
        padding: 10px;
    }

    .stock-tabs button {
        width: 100%;
        padding: 15px;
        font-size: 18px;
        text-align: left;
        border-left: 5px solid transparent;
    }

    .stock-tabs .active {
        border-left: 5px solid #2196F3;
        border-bottom: none;
    }
}
