.dispenStockTransfer-requisition {
    background-color: #CAF2FF;
    padding: 0px 10px 0px 10px;
    font-family: Arial, sans-serif;
    height: 500px;
  }
  
  .dispenStockTransfer-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 20px; */
  }
  
  .dispenStockTransfer-collected {
    background-color: #5867DD;
    color: white;
    border: none;
    border-radius: 5px;
    /* height: 30px; */
    padding: 5px 10px ;
    cursor: pointer;
  }
 
.dispenStockTransfer-search-bar{
  margin-left: -15px;
}  
  .dispenStockTransfer-search-bar input {
    /* margin-top: 10px; */
    /* padding: 5px; */
    width: 200px;
  }
  .dispenStockTransfer-search-bar i{
    position: relative;
    color:gray;
    top: 2px;
    font-size: 12px;
  left: 205px;
  }
  
  .dispenStockTransfer-results-info {
    display: flex;
    align-items: center;
    /* padding-top: 10px; */
  }
  .dispenStockTransfer-results-info span {
    /* display: flex;
    align-items: center; */
    /* padding-top: 10px; */
    color: #008CBA;
    font-size: 12px;
    font-weight: bold;
  }

  
  .dispenStockTransfer-print-button {
    background-color: #008CBA;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .dispenStockTransfer-requisition-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
    margin-bottom: 20px;
  }
  
  .dispenStockTransfer-requisition-table th, .dispenStockTransfer-requisition-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .dispenStockTransfer-requisition-table th {
    background-color: #F3F3F3;
    font-size: 12px;
    color: #383737;
  }
  
  /* .no-data {
    background-color: #fff9c4;
    text-align: center;
  } */
  
  .dispenStockTransfer-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dispenStockTransfer-pagination button {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 5px;
  }
  
  .dispenStockTransfer-pagination span {
    margin: 0 10px;
    color: gray;
    font-size: 12px;
  }
  .dispenStockTransfer-search-N-result{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .dispenStockTransfer-table-N-paginationDiv{
    background-color: white;
  }