/* body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  } */
  
  .sSPStock-stock-container {
    margin: 0 auto;
    /* padding: 20px; */
    /* background-color: red; */

  }
  .sSPStock-stock-nav
  {
    width: 100%;

  }
  
  .sSPStock-stock-container ul {
    list-style-type: none;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    /* color: red; */
    font-size: 14px;
    background-color: #e6f3ff;
    border-bottom: 1px solid #ccc;
  }
  
  .sSPStock-stock-container  li {
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .sSPStock-stock-nav li.active {
    background-color: #007bff;
    color: white;
  }
  
  .sSPStock-stock-content {
    /* background-color: #fff; */
    background-color: #e6f3ff;

    padding: 10px;
    border-radius: 0 0 5px 5px;
      /* border: 1px solid red; */

  }
  
  .sSPStock-stock-search-bar {
    display: flex;
    margin-bottom: 20px;
  }
  
  .sSPStock-stock-search-bar input {
    flex-grow: 1;
    padding: 5px;
    border: 1px solid #ccc;
    border-right: none;
  }
  
  .sSPStock-stock-search-bar button {
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .sSPStock-stock-results-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .sSPStock-stock-btn-blue {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .sSPStock-stock {
    width: 100%;
    border-collapse: collapse;
  }
  
  .sSPStock-stock th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .sSPStock-stock th {
    background-color: #f2f2f2;
  }
  
  .sSPStock-stock-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .sSPStock-stock-pagination button {
    margin: 0 5px;
    padding: 5px 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
  }
  
  .sSPStock-stock-pagination button.active {
    background-color: #007bff;
    color: white;
  }
  
  .sSPStock-stock-pagination button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }