.ot_machine_main{
    background-color: #e3f2fd;
    display: flex;
    flex-direction: column;
    padding: 20px;

  }
  
  .ot_machine_table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
.ot_machine_tablehead, .ot_machine_tablehead{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .ot_machine_tabledata {
    background-color: white;
  }
  
  .ot_machine_tablehead {
    background-color: #f2f2f2;
  }
  
  .ot_machine_search_bar input[type="text"] {
    width: 300px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .ot_machine_filter_button {
    background-color: white;
    color: gray;
    font-size: 20px;
    padding: 4px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  .ot_machine_filter_button:hover {
    background-color: #45a049;
  }
  
  .ot_machine_pagination {
    margin: 20px 0;
    text-align: center;
  }
  
  .ot_machine_pagination button {
    background-color: #ddd;
    color: black;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 0 4px;
  }
  
  .ot_machine_pagination button:hover {
    background-color: #ccc;
  }
  
  .ot_machine_edit_button {
    background-color: #007bff;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .ot_machine_container {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-bottom: 20px;
  }
  
  .ot_machine_input {
    display: flex;
    flex-direction: row;
  }
  
  .ot_machine_input label {
    margin-bottom: 5px;
  }
  
  .ot_machine_input input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 30px;
  }
  
  .ot_machine_checkbox {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 20px;
  }
  
  .ot_machine_buttons {
    display: flex;
    gap: 10px;
    margin-left: 200px;
  }
  
  .ot_machine_save, .ot_machine_clear {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  .ot_machine_save {
    background-color: green;
  }
  
  .ot_machine_clear {
    background-color: orange;
  }
  
  .ot_machine_save:hover, .ot_machine_clear:hover {
    background-color: blue;
  }
  