.surgicalinstrumenttrackingbtn{
    color: white;
    background-color: var(--button-color);
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-left: 20px;
}
.surgicalinstrumenttrackingbtn:hover{
    background-color:var(--button-hover-background-color);
    color: var(--button-hover-text-color);
    border: 1px solid var(--button-hover-border-color);
}
.surgicaltrack-modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

/* .surgicaltrack-modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;

} */

.surgical-instrument-tracking {
    padding: 20px;
}


.surgicalinstrumenttrackingedit-btn{
    color: white;
    background-color: var(--button-color);
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
   
}
.surgicalinstrumenttrackingbtn:hover{
    background-color:var(--button-hover-background-color);
    color: var(--button-hover-text-color);
    border: 1px solid var(--button-hover-border-color);
}
.surgicaltrack-modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}


.surgicaltrack-modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
    height: 450px;
}



.surgicaltrack-modal-content-h2 {
    margin-bottom: 20px; /* Space below the heading */
    text-align: center; /* Center the heading */
}

.surgical-instrument-tracking label {
    display: block; /* Make labels block elements */
    margin: 10px 0 5px; /* Space around the labels */
    font-weight: bold; /* Bold font for labels */
}

.surgical-instrument-tracking input[type="text"],
.surgical-instrument-tracking input[type="number"],
.surgical-instrument-tracking select {
    width: 100%; /* Full width input fields */
    padding: 10px; /* Padding inside input fields */
    border: 1px solid #ccc; /* Light grey border */
    border-radius: 4px; /* Rounded corners */
    margin-bottom: 15px; /* Space below input fields */
}

.surgical-instrumenttrack-modalbtn {
    display: flex; /* Use flexbox for button alignment */
    justify-content: space-between; /* Space between buttons */
}

.surgicalinstrumenttrackingedit-btn{
    color: white;
    background-color: var(--button-color);
    text-align: center;
    padding: 5px;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    margin-right:20px;
    margin-top: 20px;
   
}

.surgicalinstrumenttrackingedit-btn:hover{
    background-color:var(--button-hover-background-color);
    color: var(--button-hover-text-color);
    border: 1px solid var(--button-hover-border-color);
}