/* Dhanashree_Admitted_19/09 */

.EmergencyAdmitted-content {
  background-color: var(--background-color); /* Light blue background */
  padding: 20px;
}

.EmergencyAdmitted-search-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.EmergencyAdmitted-search-bar {
  display: flex;
  align-items: center;
}

.EmergencyAdmitted-search-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}

.EmergencyAdmitted-search-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.EmergencyAdmitted-filter-dropdown {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.EmergencyAdmitted-results-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.EmergencyAdmitted-print-btn {
  background-color: #3f7fbf;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.EmergencyAdmitted-table {
  width: 100%;
  border-collapse: collapse;
}

.EmergencyAdmitted-table th, .EmergencyAdmitted-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.EmergencyAdmitted-no-rows {
  text-align: center;
  color: #d69b00;
  background-color: #fff2cc;
}

.EmergencyAdmitted-pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.EmergencyAdmitted-pagination-btn {
  background-color: #89b4d9;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

.EmergencyAdmitted-pagination-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.EmergencyAdmitted-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Ensure it's above other elements */
}

.EmergencyAdmitted-modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 500px; /* Adjust width as needed */
  max-width: 90%;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.EmergencyAdmitted-close-btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.EmergencyAdmitted-edit-btn {
  background-color: var(--button-color); /* Bright yellow background */
  color: white; /* Black text */
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.EmergencyAdmitted-edit-btn:hover {
  background-color: var(--button-hover-background-color); /* Slightly darker yellow on hover */
  color: var(--button-hover-text-color);
}


.PatientsEmergency-print-btn {
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.PatientsEmergency-print-btn:hover {
  background-color: white;
  border: 1px solid var(--button-hover-border-color);
  color: var(--button-hover-text-color);
}

/* Dhanashree_Admitted_19/09 */
