 /* Dhanashree_WardOccupancy_19/09 */

.ward-occupancy {
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    padding: 20px;
    height: 500px;
  }
  
  .occupancy-table {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--background-color);
  }
  
  .occupancy-table th,
  .occupancy-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  
  .occupancy-table th {
    background-color: #f2f2f2;
    color: Black;
  }
  
  .occupancy-table tr.even {
    background-color: #f8f8f8;
  }
  
  .occupancy-table tr.odd {
    background-color: #e6f7ff;
  }
  
  .occupancy-table tr.total-row {
    font-weight: bold;
    background-color:#e6f7ff;
}
 /* Dhanashree_WardOccupancy_19/09 */
