 /* Dhanashree_DeathEdit_19/09 */

.DeathEditPatients-container {
  background-color: var(--background-color); 
  padding: 20px;
}

.DeathEditPatients-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.DeathEditPatientList-close-btn {
  background: var(--button-color);
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.DeathEditPatientList-close-btn:hover {
  background: white;
  color: var(--button-hover-text-color);
}

.DeathEditPatients-form {
  display: flex;
  flex-direction: column;
}

.DeathEditPatients-form-group {
  margin-bottom: 10px;
}

.DeathEditPatients-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.DeathEditPatients-form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.DeathEditPatients-save-btn {
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
}

.DeathEditPatients-save-btn:hover {
  background-color: white;
  color: var(--button-hover-text-color);
}


/* Dhanashree_DeathEdit_19/09 */
