 /* Dhanashree_DOR_19/09 */

.DORPatients-content {
  background-color: var(--background-color); /* Light blue background */
  padding: 20px;
}

.DORPatients-search-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.DORPatients-search-bar {
  display: flex;
  align-items: center;
}

.DORPatients-search-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}

.DORPatients-search-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.DORPatients-filter-dropdown {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.DORPatients-results-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.DORPatients-print-btn {
  background-color: #3f7fbf;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.DORPatients-table {
  width: 100%;
  border-collapse: collapse;
}

.DORPatients-table th, .DORPatients-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.DORPatients-no-rows {
  text-align: center;
  color: #d69b00;
  background-color: #fff2cc;
}

.DORPatients-pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.DORPatients-pagination-btn {
  background-color: #89b4d9;
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

.DORPatients-pagination-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.DOR-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.DOR-modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 600px;
}

.DOR-close-btn {
  background: #ff4d4d;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.DOR-close-btn:hover {
  background: #ff1a1a;
}




.DORPatients-edit-btn {
  background-color: var(--button-color); /* Green background */
  color: white; /* White text */
  border: none;
  padding: 8px 12px; /* Adjust padding */
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}


.DORPatients-edit-btn:hover {
  background-color: var(--button-hover-background-color); /* Darker green on hover */
  color: var(--button-hover-text-color);
}


.PatientsEmergency-print-btn {
  background-color: var(--button-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.PatientsEmergency-print-btn:hover {
  background-color: white;
  border: 1px solid var(--button-hover-border-color);
  color: var(--button-hover-text-color);
}

 /* Dhanashree_DOR_19/09 */
