 /* Dhanashree_DOREdit_19/09 */

.DOREEdit-container {
  background-color: var(--background-color); 
  padding: 20px;
}

.DOREEdit-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.DOREEdit-header h2 {
  margin: 0;
}

.DOREEdit-close-btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.DOREEdit-form {
  display: flex;
  flex-direction: column;
}

.DOREEdit-form-group {
  margin-bottom: 15px;
}

.DOREEdit-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.DOREEdit-form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.DOREEdit-save-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.DOREEdit-save-btn:hover {
  background-color: #0056b3;
}

.DOREEdit-content {
  background-color: #d3f0ff; /* Light blue background */
  padding: 20px;
}

.DOREEdit-search-filter {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.DOREEdit-search-bar {
  display: flex;
  align-items: center;
}

.DOREEdit-search-input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}

.DOREEdit-search-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.DOREEdit-filter-dropdown {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.DOREEdit-results-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.DOREEdit-print-btn {
  background-color: #3f7fbf;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}

.DOREEdit-table {
  width: 100%;
  border-collapse: collapse;
}

.DOREEdit-table th, .DOREEdit-table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

.DOREEdit-no-rows {
  text-align: center;
  color: #d69b00;
  background-color: #fff2cc;
}

.DOREEdit-pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.DOREEdit-pagination-btn {
  background-color: var(--button-bg-color);
  color: white;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

.DOREEdit-pagination-btn:disabled {
  background-color: white;
  cursor: not-allowed;
  color: var(--button-hover-text-color);
} */

.DOREEdit-save-btn {
  background-color: var(--button-color); /* Green color */
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.DOREEdit-save-btn:hover {
  background-color: white; /* Darker green on hover */
  color: var(--button-hover-text-color) ;
}

 /* Dhanashree_DOREdit_19/09 */
