   /* Dhanashree_EmergencyDashboard_19/09 */

  
  * {
    margin: 0;
  }

  .emergency-dashboard {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .dashboard-card {
    flex: 1;
    margin: 0 10px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .blue-dashboard-card {
    background: linear-gradient(135deg, var(--button-bg-color) 0%, var(--button-color) 100%);
  }

  .red-dashboard-card {
    background: linear-gradient(135deg, var(--button-color) 0%, var(--button-color) 100%);
  }

  .green-dashboard-card {
    background: linear-gradient(135deg, var(--button-color) 0%, var(--button-color) 100%);
  }

  .dashboard-title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .dashboard-number {
    font-size: 48px;
    font-weight: bold;
    align-self: flex-end;
  }

  .dashboard-subtitle {
    font-size: 14px;
  }

   /* Dhanashree_EmergencyDashboard_19/09 */
