 /* Dhanashree_PatientList_19/09 */

.patient-list {
  background-color: var(--background-color);
  padding: 5px;
  font-family: Arial, sans-serif;
}

.search-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.patient-name-input, .filter-dropdown {
  padding: 5px;
  border: 1px solid white;
  border-radius: 4px;
}

.new-registration-btn {
  background-color: var(--button-color);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.search-bar {
  display: flex;
  margin-bottom: 20px;
}

.search-bar input {
  flex-grow: 1;
  padding: 5px;
  border: 1px solid var(white);
  border-radius: 4px 0 0 4px;
}

.search-icon {
  /* background-color: var(--button-bg-color);    */
  border: 1px solid var(white);
  border-left: none;
  padding: 5px;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
}

.results-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Emergency-print-btn {
  background-color: var(--button-bg-color);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.patient-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f2f2f2;
}

.patient-table th, .patient-table td {
  border: 1px solid #ccc;
  padding: 5px;
  text-align: left;
}

.patient-table th {
  background-color: #f2f2f2;  
}

.no-data {
  text-align: center;
  background-color: var(--no-data-bg-color);
  color: var(--no-data-text-color);
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination-btn {
  background-color: var(--pagination-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 5px 15px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
}

.pagination-btn:disabled {
  background-color: var(--disabled-bg-color);
  cursor: not-allowed;
}

.header-icon {
  margin-left: 5px;
  cursor: pointer;
}

.header-icon:hover {
  color: var(--header-hover-color);
}

.dropdown-menu {
  position: absolute;
  background-color: var(--dropdown-bg-color);
  border: 1px solid var(--dropdown-border-color);
  padding: 10px;
  box-shadow: 0 4px 8px var(--dropdown-shadow-color);
  z-index: 1000;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: var(--dropdown-hover-bg-color);
}

.dropdown-textbox {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.action-btn {
  background-color: var(--action-btn-bg-color);
  color: var(--button-text-color);
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
}

.action-btn:hover {
  background-color: white;
  color: var(--button-hover-text-color);
}

 /* Dhanashree_PatientList_19/09 */
