 /* Dhanashree_EmergencyPatientRegistration_19/09 */

.PatientRegistration-container {
    max-width: 1200px;
    margin: 20px auto;
    padding: 10px;
    border: 2px solid #000; 
    border-radius: 5px;
    background-color: #fff;
}


.PatientRegistration-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--button-bg-color);
    color: white;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.PatientRegistration-close-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
}

.PatientRegistration-form {
    padding: 20px;
}

.PatientRegistration-form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.PatientRegistration-form-group label {
    min-width: 150px;
    margin-right: 10px;
}

.PatientRegistration-form-group input, 
.PatientRegistration-form-group select {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.PatientRegistration-required {
    color: red;
}

.PatientRegistration-form-section {
    display: flex;
    justify-content: space-between;
}

.PatientRegistration-form-left, 
.PatientRegistration-form-right {
    width: 48%;
}

.PatientRegistration-age-group {
    display: flex;
    align-items: center;
}

.PatientRegistration-age-group input {
    max-width: 70px;
    margin-right: 10px;
}

.PatientRegistration-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.PatientRegistration-add-button {
    background-color: #38a169;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.PatientRegistration-register-button {
    background-color: #38a169;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


.PatientRegistration-add-button:hover, 
.PatientRegistration-register-button:hover {
    background-color: #2f855a;
}


.PatientRegistration-submit-button {
    background-color: var(--button-color); /* Set the background color to red */
    color: white; /* Set the text color to white for contrast */
    border: none; /* Remove any default border */
    padding: 10px 20px; /* Add some padding for size */
    font-size: 16px; /* Adjust the font size */
    border-radius: 5px; /* Optional: add rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
  }
  .PatientRegistration-submit-button:hover {
    background-color: white; /* Change the background to white on hover */
    color: var(--button-hover-text-color); /* Set the text color to the hover variable */
    border: 2px solid var(--button-hover-border-color); /* Add a border with the hover color */
  }
  
   /* Dhanashree_EmergencyPatientRegistration_19/09 */
