 /* Dhanashree_TransferredEdit_19/09 */

.TransferredEdit-edit-patient-container {
  padding: 20px;
}

.TransferredEdit-edit-patient-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TransferredEdit-edit-patient-form {
  display: flex;
  flex-direction: column;
}

.TransferredEdit-form-group {
  margin-bottom: 15px;
}

.TransferredEdit-form-group label {
  display: block;
  margin-bottom: 5px;
}

.TransferredEdit-form-group input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}

.TransferredEdit-save-btn {
  padding: 10px;
  background-color: var(--button-color);
  color: #fff;
  border: none;
  cursor: pointer;

}

.TransferredEdit-save-btn:hover {
  color: var(--button-hover-text-color);
  background-color: var(--button-hover-background-color);
}

 /* Dhanashree_TransferredEdit_19/09 */
