.TriagedPatientsEdit-edit-patient-container {
  padding: 20px;
  background: var(--background-color);
  border-radius: 8px;
  max-width: 500px;
  width: 100%;
  box-shadow: 0 2px 10px var(--box-shadow-color);
  position: relative;
  margin: 20px;
}

.TriagedPatientsEdit-edit-patient-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.TriagedPatientsEdit-edit-patient-header h2 {
  margin: 0;
  font-size: 1.5rem;
}

.TriagedPatientsEdit-close-btn {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.TriagedPatientsEdit-edit-patient-form .TriagedPatientsEdit-form-group {
  margin-bottom: 15px;
}

.TriagedPatientsEdit-edit-patient-form .TriagedPatientsEdit-form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.TriagedPatientsEdit-edit-patient-form .TriagedPatientsEdit-form-group input {
  width: calc(100% - 20px);
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.TriagedPatientsEdit-save-btn {
  padding: 10px 20px;
  background: var(--button-bg-color);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.TriagedPatientsEdit-save-btn:hover {
  background: var(--button-hover-background-color);
}
