.mp {
    font-family: Arial, sans-serif;
    background-color: #e6f3ff;
    padding: 20px;
  }
  
  .mp-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .mp-nav-btn, .mp-tab {
    background-color: #f0f0f0;
    border: none;
    padding: 10px 15px;
    margin-right: 5px;
    cursor: pointer;
  }
  
  .mp-nav-btn.active, .mp-tab.active {
    background-color: #007bff;
    color: white;
  }
  
  .mp-header-right {
    display: flex;
    align-items: center;
  }
  
  .mp-refresh-btn, .mp-active-btn {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .mp-fiscal-year {
    margin-left: 10px;
    font-size: 0.8em;
  }
  
  .mp-form {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .mp-form-row {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .mp-form-group {
    display: flex;
    flex-direction: column;
    width: 250px;
    font-size: 14px;
  }
  .mp-form-group input{
    border: 1px solid #c2cad8;
    border-radius: 3px !important;
    height: 30px !important;
    width: 100%;
    font-size: 14px;
  }
  .mp-form-group select{
    border: 1px solid #c2cad8;
    border-radius: 3px !important;
    height: 30px !important;
    width: 100%;
    font-size: 14px;
  }
  .mp-load-btn {
    align-self: flex-end;
    background-color: #28a745;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
  }
  
  .mp-search-bar {
    display: flex;
    font-size: 14px;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .mp-results-count{
    color: #007bff;
  }
  .mp-print-btn{
    background-color: #007bff;
    color: white;
    margin-left: 10px;
    padding: 6px 15px;
    border: none;
    border-radius: 5px;
  }
  .mp-table {
    width: 100%;
    font-size: 14px;
    background-color: #F3F3F3;
    border-collapse: collapse;
  }

  .mp-table th{
    text-align: left;
  }
  .mp-table th, .mp-table td{
    border: 1px solid #ddd;
    padding: 10px;
    /* text-align: left; */
  }
  
  .mp-pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
  }

  .mp-no-row{
    background-color: #FFE6A0;
    color: #efb005;
    text-align: center;
}
.mp-search-container{
    background-color: white;
    padding: 8px;
}
.mp-search-container input[type="text"]{
   background-color: transparent;
   border: none;
   outline: none;
   width: 250px;
}
/* .mp-invoice-input{
    width: 200px;
} */