.labLIS-MachineResults-upload-page {
    background-color: #CAF2FF;
    padding: 10px 10px 0px 0px;
    font-family: Arial, sans-serif;
    height: 450px;
  }
  
  .labLIS-MachineResults-filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .labLIS-MachineResults-date-range {
    display: flex;
    align-items: center;
    background-color: #EBF7FF ;
  }
  
  .labLIS-MachineResults-date-range span {
    /* margin: 0 10px; */
    font-size: 12px;
    font-weight: bold;
margin-left: 20px;
  }
  
  .labLIS-MachineResults-buttons {
    display: flex;
    gap: 10px;
  }
  
  .labLIS-MachineResults-load-data{
    display: flex;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: #26C281;
    color: white;
    font-size: 12px;
  }
  
  .labLIS-MachineResults-load-data:hover {
    background-color: #007bff;
    color: white;
  }
    
  