:root {
  --sideBar-bg-color: #007973;
  --upperBar-bg-color: #00968f;

  --button-bg-color: #00968f; /* Active */
  --button-color: #00c9c0; /*button color*/
  --background-color:#e3fffe; /* /background-color/ */
  --heading-font:16px; /* Heading font size */
  --font-size:14px ; /* For all text size  */
  --button-hover-border-color:#00c9c0;  /* For all button hover color */
  --button-hover-text-color:#00c9c0; /* when hover on button then use that color for text */
  --button-hover-background-color:white ;
}
