:root {
  --sideBar-bg-color: #007973;
  --upperBar-bg-color: #00968f;
  --button-bg-color: #00968f;
  --button-color: #00c9c0;
  --background-color: #e3fffe;
  --heading-font: 16px;
  --font-size: 14px;
  --button-hover-border-color:#00c9c0;
  --button-hover-text-color:#00c9c0;
  --button-hover-background-color:white;
  --input-box-padding: 5px;
}

/* Akash Pawar Table related All Css 14/24 */

.table-container {
<<<<<<< HEAD
<<<<<<< HEAD
  width: 100%;
  max-height: 60vh;

=======
  max-height: 70vh;
>>>>>>> e5850bbfdb9398281441ed2e20586b5375c904eb
=======
  max-height: 70vh;
>>>>>>> e5850bbfdb9398281441ed2e20586b5375c904eb
  overflow-x: auto; /* Allow horizontal scrolling */
  overflow-y: auto; /* Allow vertical scrolling */
  scrollbar-width: none;
}

table {
<<<<<<< HEAD
<<<<<<< HEAD
  width: 100%;
  background-color: #f2f2f2;
  border-collapse: collapse;
  table-layout: fixed;
=======
=======
>>>>>>> e5850bbfdb9398281441ed2e20586b5375c904eb
  overflow: hidden; 
  background-color: #f2f2f2;
  border-collapse: collapse;
  table-layout: fixed; 
  width: 100%;
  text-overflow: ellipsis;
<<<<<<< HEAD
>>>>>>> e5850bbfdb9398281441ed2e20586b5375c904eb
=======
>>>>>>> e5850bbfdb9398281441ed2e20586b5375c904eb
}
thead{
  background-color: #f2f2f2;
  z-index: 15;
  position: sticky;
  top: -0.5px;
}

table th,
table td {
<<<<<<< HEAD
<<<<<<< HEAD
  background-color: #f2f2f2;
=======
  background-color: #f2f2f2;  
>>>>>>> e5850bbfdb9398281441ed2e20586b5375c904eb
=======
  background-color: #f2f2f2;  
>>>>>>> e5850bbfdb9398281441ed2e20586b5375c904eb
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  font-size: var(--font-size);
<<<<<<< HEAD
<<<<<<< HEAD
  white-space: nowrap; /* Prevent wrapping */
  text-overflow: ellipsis;
  overflow: hidden;
=======
=======
>>>>>>> e5850bbfdb9398281441ed2e20586b5375c904eb
  text-overflow: ellipsis;
  white-space: nowrap; /* Ensure ellipsis for overflowing text */
}

table td {
  /* overflow: hidden; */
  text-overflow: ellipsis;
  position: relative; /* Required for tooltip positioning */
}

table th {
 overflow: hidden; 
  user-select: none;
  white-space: nowrap;
<<<<<<< HEAD
>>>>>>> e5850bbfdb9398281441ed2e20586b5375c904eb
=======
>>>>>>> e5850bbfdb9398281441ed2e20586b5375c904eb
}
table th .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
<<<<<<< HEAD
<<<<<<< HEAD
  text-overflow: ellipsis;

}

table th:last-child,
table td:last-child {
  width: 250px;
  text-align: center;
}
=======
}

>>>>>>> e5850bbfdb9398281441ed2e20586b5375c904eb
=======
}

>>>>>>> e5850bbfdb9398281441ed2e20586b5375c904eb
/* Resizable Columns */
.resizable-th {
  position: relative;
}

.resizer {
  width: 5px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  cursor: col-resize;
  z-index: 1;
}

table th .resizer:hover {
  background-color: #aaa;
}
/* Akash Pawar Table related All Css 14/24 */