:root {
  --sideBar-bg-color: #007973;
  --upperBar-bg-color: #00968f;
  --button-bg-color: #00968f;
  --button-color: #00c9c0;
  --background-color: #e3fffe;
  --heading-font: 16px;
  --font-size: 14px;
  --button-hover-border-color:#00c9c0;
  --button-hover-text-color:#00c9c0;
  --button-hover-background-color:white;
  --input-box-padding: 5px;
}

/* Akash Pawar Table related All Css 14/24 */

.table-container {
  width: 100%;
  max-height: 60vh;
  overflow-x: auto; /* Allow horizontal scrolling */
  overflow-y: auto; /* Allow vertical scrolling */
}

table {
  width: 100%;
  background-color: #f2f2f2;
  border-collapse: collapse;
  table-layout: fixed;
}
thead{
  background-color: #f2f2f2;
  z-index: 15;
  position: sticky;
  top: -0.5px;
}

table th,
table td {
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
  font-size: var(--font-size);
  white-space: nowrap; /* Prevent wrapping */
  text-overflow: ellipsis;
  overflow: hidden;
}
table th .header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;

}

table th:last-child,
table td:last-child {
  width: 250px;
  text-align: center;
}
/* Resizable Columns */
.resizable-th {
  position: relative;
}

.resizer {
  width: 5px;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  cursor: col-resize;
  z-index: 1;
}

table th .resizer:hover {
  background-color: #aaa;
}
/* Akash Pawar Table related All Css 14/24 */