/* .dashboard-container {
    padding: 20px;
  }
   */
   .button-group {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .dashboard-button {
    background-color:  var(--button-color);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .dashboard-button:hover {
    background-color:  white;
    color: var(--upperBar-bg-color);
  }
  