.PatientContainer {
  display: flex;
  justify-content: space-between;
  align-items: center; /* Align items horizontally */
  margin-bottom: 5px;
  background-color: #f2f2f2;
  padding: 5px;
}

.PatientLeftSection,
.PatientRightSection {
  display: flex;
  align-items: center;
}

.PatientLeftSection {
  width: 75%;
}

.PatientRightSection {
  width: 25%;
}

.PatientFilterSection {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Add space between the filter and search */
}

.PatientFilterSection h2 {
  font-size: 16px;
  margin-right: 20px; /* Add space between "Department Filter" and filter items */
}

.PatientFilterItem {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Add space between each filter item */
}

.PatientFilterItem .PatientIcon {
  margin-right: 10px;
  color: #4a90e2;
  font-size: 18px;
}

.PatientSearchBar {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #f2f2f2;
  padding: 5px;
  border-radius: 5px;
}

.PatientSearchBar input {
  flex-grow: 1;
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
}

.PatientSearchIcon {
  color: #4a90e2;
  font-size: 20px;
  margin-left: 10px;
}
