/* .patient-record {
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: #e6f3ff;
}

/* nav {
  display: flex;
  margin-bottom: 10px;
} */

nav button {
  padding: 10px 20px;
  border: none;
  background-color: #4a90e2;
  color: white;
  cursor: pointer;
}

nav button.active {
  background-color: var(--button-bg-color);
}

.date-range {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.date-range input[type="date"] {
  margin-right: 10px;
}

.date-range button {
  margin-left: 5px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.date-range .star, .date-range .reset {
  background-color: #f0f0f0;
}

.date-range .ok {
  background-color: #4CAF50;
  color: white;
}

.actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.actions button, .department-filter select, .print {
  padding: 5px 10px;
  background-color: #4a90e2;
  color: white;
  border: none;
  cursor: pointer;
}

.search-bar {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.search-bar input {
  flex-grow: 1;
  padding: 5px;
  margin-right: 5px;
}

.results {
  margin-left: auto;
  margin-right: 10px;
  color: #4a90e2;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: white;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

td button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0 2px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagination button {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #4a90e2;
  color: white;
  border: none;
  cursor: pointer;
}

.print{
  color: black;

} 