.activesuperUserNav-btn {
  background-color: var( --button-color);
  color: white;
  /* margin-left: 60px; */
  font-size: var(--heading-font);
  padding: 5px 5px;
  border: none;
  float: right;
}

.superUserNav-Navigation-bar {
  background-color: white;
}

.superUserNav-Navigation-bar ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Enable wrapping for smaller screens */
}

.superUserNav-Navigation-bar li {
  margin: 0;
}

.superUserNav-Navigation-bar a {
  background-color: var( --button-color);
  border: 1px solid var( --button-color);
  text-decoration: none;
  color: white;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
}

.superUserNav-Navigation-bar a:hover {
  background-color: white;
  color: var( --button-color);;
  border: 1px solid gray;
}

.superUserNav-Navigation-bar .active {
  background-color: var( --button-bg-color);
  color: white;
}

.superUserNav-Activebtn-N-LogOut {
  display: flex;
  justify-content: start;
  gap: 5px;
  margin-right: 20px;

}

.superUserNav-LogOut {
  border: none;
  background: none;
  font-size: 18px;
  padding: 0;
  cursor: pointer;
}

.superUserNav-LogOut i {
  color: #333;
}

.superUserNav-Navbttn-N-act {
<<<<<<< HEAD
<<<<<<< HEAD
  margin-top: 15px;
  display: flex;
 
=======
  display: flex;
>>>>>>> e5850bbfdb9398281441ed2e20586b5375c904eb
=======
  display: flex;
>>>>>>> e5850bbfdb9398281441ed2e20586b5375c904eb
}

.superUserNav-Navbttn-N-act li {
  padding: 0 5px;
<<<<<<< HEAD
<<<<<<< HEAD
  
=======
>>>>>>> e5850bbfdb9398281441ed2e20586b5375c904eb
=======
>>>>>>> e5850bbfdb9398281441ed2e20586b5375c904eb
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .superUserNav-Navigation-bar ul {
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align items to the start */
  }

  .superUserNav-Navigation-bar li {
    margin-bottom: 10px; /* Add some space between items */
  }

  .superUserNav-Navbttn-N-act {
    flex-direction: column; /* Stack prescription nav buttons vertically */
  }
}
