/* Ravindra_Sanap_AllEmployee.css_03_10_2024_Start */


.employee-container {
    width: 100%;
    margin: 0 auto;
    background-color: var(--background-color);

}

.employee-container h2 {
    text-align: center;
    margin-bottom: 10px;
    color: #333;
    font-size: 18px;
}

.employee-table {
    /* width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: auto;
    background-color: white; */
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f2f2f2;
}

.employee-table th,
.employee-table td {
    /* border: 1px solid #ddd;
    padding: 6px;
    text-align: left;
    white-space: nowrap;
    font-size: 14px; */
    border: 1px solid #ccc;
    padding: 6px;
    text-align: left;
    padding: 8px;
    font-size: var(--font-size);

}

.employee-table th {
    /* color: #333;
    font-size: 16px; */
    background-color: #eaeaea;
    color: black;
}

.employee-searchAndActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    margin-left: 20px;
}

.employee-searchInput {
    padding: 5px;
    width: 300px;
    transition: border-color 0.3s;

}

.employee-searchInput:focus {
    border-color: skyblue;
    outline: none;
}


.employee-table tr:hover {
    background-color: #ddd;
}

.employee-table td {
    color: #555;
}

@media (max-width: 600px) {

    .employee-table,
    .employee-table th,
    .employee-table td {
        font-size: 12px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}

.pagination button {
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.pagination button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}



.pagination button.active {
    background-color: #333;
    color: white;
}

.nodatatoshow {
    text-align: center;
    background-color: rgba(212, 194, 29, 0.582);
    padding: 10px;
}

.addemp-header {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.addemp-button {
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5px;
}


.allemp-btn {
    background-color: var(--button-color);
    color: white;
    padding: 5px 10px;
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.allemp-btn:nth-child(2) {
    background-color: rgb(194, 61, 61);
}

.allemp-btn:nth-child(2):hover {
    background-color: rgb(83, 30, 30);
}

.allemp-btn:hover {
    background-color: #333;
}




/* Ravindra_Sanap_AllEmployee.css_03_10_2024_End */