/* Ravindra_Sanap_AllEmployee.css_03_10_2024_Start */


.employee-container {
    width: 100%;
    margin: 0 auto;
    border-radius: 10px;
}

.employee-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    font-size: 18px;
}

.employee-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    table-layout: auto;
    background-color: white;
}

.employee-table th,
.employee-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    white-space: nowrap;
    font-size: 14px;
}

.employee-table th {
    color: #333;
    font-size: 16px;
}



.employee-table tr:hover {
    background-color: #ddd;
}

.employee-table td {
    color: #555;
}

@media (max-width: 600px) {

    .employee-table,
    .employee-table th,
    .employee-table td {
        font-size: 12px;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
}

.pagination button {
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.pagination button.disabled {
    background-color: #ccc;
    cursor: not-allowed;
}



.pagination button.active {
    background-color: #333;
    color: white;
}

.nodatatoshow {
    text-align: center;
    background-color: rgba(212, 194, 29, 0.582);
    padding: 10px;
}

.addemp-header {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
}

.addemp-button {
    background-color: var(--button-color);
    color: white;
    border: none;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-left: 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Ravindra_Sanap_AllEmployee.css_03_10_2024_End */